{% load static wagtailimages_tags %}
<div id="courseLineup" class="course-in-program">
  <div class="container">
    <div class="head">
      <h1 class="text-uppercase">{{ page.heading }}</h1>
      {{ page.body|safe }}
    </div>
    <div class="course-slider">
      {% for courseware_object in courseware_objects %}
        <div class="slide">
          <div class="slide-holder">
            {% if courseware_object.thumbnail_image %}
              {% image courseware_object.thumbnail_image fill-480x275 as course_image %}
              <img src="{{ course_image.url }}" alt="{{ courseware_object.display_title }}">
            {% else %}
              <img src="{% static 'images/mit-dome.png' %}" alt="{{ courseware_object.display_title }}">
            {% endif %}
            <h2>{{ courseware_object.display_title }}</h2>
            <p>{{ courseware_object.subhead }}</p>
            <a href="{{ courseware_object.url }}" class="read-more text-uppercase">view {{ courseware_object.type_name }}</a>
          </div>
        </div>
      {% endfor %}
    </div>
    {% if button_title and button_url %}
      <a href="{{ button_url }}" class="btn btn-primary">{{ button_title }}</a>
    {% endif %}
  </div>
</div>