<div class="header-block">
  <div class="container header-container">
    {% if obj.program %}
      <h5 class="program-position">Course {{ obj.position_in_program }} of {{ obj.program.num_courses }} in {{ obj.program.title }}</h5>
    {% endif %}
    <div class="row">
      <div class="col-lg-7">
        <div class="header-title">
          <h1>{{ obj.display_title }}</h1>
          <h2>{{ obj.subhead }}</h2>
        </div>
        <div>
          {% if not enrolled and product_version_id %}
            <a class="enroll-button" href="{% url "checkout-page" %}?product={{ product_version_id }}">
              Enroll Now
            </a>
          {% elif enrolled and courseware_url %}
            <a class="enroll-button" href="{% url "user-dashboard" %}">
              View Dashboard
            </a>
          {% endif %}
        </div>
      </div>
      <div class="col-lg-5">
        {% if obj.video_url %}
          <video controls>
            <source src="{{ obj.video_url }}">
            Your browser does not support HTML5 video.
          </video>
          <div class="video-caption">{{ obj.video_title|safe }}</div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
