{% extends "base.html" %}

{% load static render_bundle image_version_url tz %}

{% block title %}Blog{% endblock %}

{% block headercontent %}
  <div id="header"></div>
  {% render_bundle 'header' %}
{% endblock %}

{% block content %}
<div class="blog-page">
  <div class="body">
    <div class="blog-header">
      <div class="heading-container">
        <h1 class="heading">Blog</h1>
        <div class="title">Online learning stories for professionals, from MIT</div>
      </div>
      <a class="subscribe" href="https://learn-xpro.mit.edu/the-curve-subscribe">Subscribe</a>
    </div>
    <div class="most-recent-posts">
      <div class="recent-posts-heading">Top Most Recent Posts</div>
      <div class="recent-posts">
        <div class="container">
          <div class="row posts-slider">
            {% for post in posts %}
              {% include "post_card.html" with post=post %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="all-posts">
      <div class="more-posts-heading">More From MIT</div>
      <div class="all-posts-container">
        <div class="posts-list">
          {% for post in posts %}
            {% include "post_card.html" with post=post %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block contact-us %}
  {% if hubspot_new_courses_form_guid and hubspot_portal_id %}
    {% include "subscription.html" %}
  {% endif %}
{% endblock %}
