// sass-lint:disable mixins-before-declarations
.webinars {

  h1 {
    text-align: center;
  }

  .webinar-category {
    text-align: center;
    color: $primary;
    margin: 60px 0;
  }

  .upcoming-webinars, .ondemand-webinars {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 164px 84px 164px;

    .webinar {
      //border: 1px solid red;
      flex: 1 0 30%;
      width: 350px;
      height: 473px;
      margin-bottom: 36px;
      margin-right: 31px;
      padding: 10px 9px 12px 11px;
      background-color: #fff;
      box-sizing: border-box;
      box-shadow: 2px 2px 8px 4px rgba(0,0,0,0.06);
      border-radius: 4px;
    }
  }
}
