// sass-lint:disable mixins-before-declarations
.webinars {

  .webinar-sub-banner {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('#{$static-path}/images/webinar-header-banner.jpg') no-repeat 50% 50%;
    background-size: cover;
  }

  h1 {
    text-align: center;
  }

  .webinar-category {
    text-align: center;
    color: $primary;
    margin: 60px 0;
  }

  .webinars-list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 84px auto;
    max-width: 1150px;

    @include media-breakpoint-down (lg) {
      width: 100%;
      margin: 0 16px 84px 16px;
    }

    @include media-breakpoint-down (md) {
      margin: 0 10px 84px 0;
    }

    @include media-breakpoint-down (md) {
      margin: 0 16px 84px 16px;
    }

    .webinar {
      position: relative;
      flex: 1 0 33%;
      max-width: 350px;
      height: 473px;
      margin-bottom: 36px;
      margin-left: 15px;
      margin-right: 15px;
      padding: 10px 9px 0 11px;
      background-color: #fff;
      box-sizing: border-box;
      box-shadow: 2px 2px 8px 4px rgba(0,0,0,0.06);
      border-radius: 4px;

      @include media-breakpoint-down (lg) {
        max-width: 300px;
      }

      @include media-breakpoint-down (md) {
        max-width: 350px;
      }

      .webinar-holder {

        img {
          margin-bottom: 12px;
          max-width: 330px;

          @include media-breakpoint-down (lg) {
            max-width: 280px;
          }

          @include media-breakpoint-down (md) {
            max-width: 330px;
          }
        }

        .time, .description {
          color: #000000;
          font-family: Rajdhani;
          font-size: 18px;
          font-weight: 500;
          letter-spacing: -0.52px;
          line-height: 20px;
        }

        .description {
          overflow: hidden;
          text-overflow: ellipsis;
          -webkit-line-clamp: 3; // sass-lint:disable-line no-vendor-prefixes
          -webkit-box-orient: vertical; // sass-lint:disable-line no-vendor-prefixes
          display: -webkit-box; // sass-lint:disable-line no-vendor-prefixes
        }

        .title {
          color: $primary;
          font-size: 22px;
          font-weight: bold;
          letter-spacing: -0.45px;
          line-height: 25px;
          margin-bottom: 19px;
        }

        .read-more {
          position: absolute;
          bottom: 20px;
          background: $primary;
          border-radius: 3px;
          padding: 5px 5px 5px 10px;
          font-size: 18px;
          line-height: 24px;
          display: inline-block;
          vertical-align: top;
          font-weight: 600;
          text-transform: uppercase;
          color: white;

          &:after {
            content: "arrow_circle_up";
            display: inline-block;
            font-family: Material Icons;
            line-height: 24px;
            margin: 0 0 0 10px;
            text-transform: none;
            transform: rotate(90deg);
            vertical-align: top;
          }
        }
      }
    }
  }
}
