// sass-lint:disable mixins-before-declarations
.webinars {

  h1 {
    text-align: center;
  }

  .webinar-category {
    text-align: center;
    color: $primary;
    margin: 60px 0;
  }

  .upcoming-webinars, .ondemand-webinars {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 164px 84px 164px;

    .webinar {
      //border: 1px solid red;
      position: relative;
      flex: 1 0 33%;
      max-width: 350px;
      height: 473px;
      margin-bottom: 36px;
      margin-right: auto;
      margin-left: auto;
      padding: 10px 9px 0 11px;
      background-color: #fff;
      box-sizing: border-box;
      box-shadow: 2px 2px 8px 4px rgba(0,0,0,0.06);
      border-radius: 4px;

      .webinar-holder {

        img {
          margin-bottom: 12px;
        }

        .title {
          color: $primary;
          font-size: 22px;
          font-weight: bold;
          letter-spacing: -0.45px;
          line-height: 25px;
          margin-bottom: 19px;
          //height: 75px;
        }

        .time {
          //margin-bottom: 79px;
        }

        .read-more {
          position: absolute;
          //left: 15px;
          bottom: 20px;
          //margin-top: auto;
          //margin-bottom: auto;
          background: $primary;
          border-radius: 3px;
          padding: 5px 5px 5px 10px;
          font-size: 18px;
          line-height: 24px;
          display: inline-block;
          vertical-align: top;
          font-weight: 600;
          text-transform: uppercase;
          color: white;

          &:after {
            content: "arrow_circle_up";
            display: inline-block;
            font-family: Material Icons;
            line-height: 24px;
            margin: 0 0 0 10px;
            text-transform: none;
            transform: rotate(90deg);
            vertical-align: top;
          }
        }
      }
    }
  }
}
