{% extends "base.html" %}

{% load static wagtailimages_tags wagtailmetadata_tags render_bundle wagtailcore_tags %}

{% block title %}Catalog |
{{ site_name }}{% endblock %}

{% block headercontent %}
<div id="header"></div>
{% render_bundle 'header' %}
{% endblock %}

{% block content %}
<div class="course-catalog">
  {% block banner %}
  <div class="sub-banner">
    <div class="container">
      <h1>{{ site_name }}—Professional Development, the MIT Way</h1>
    </div>
  </div>
  {% endblock %}
  <div class="catalog-content">
    <div class="courseware-filter-container">
      <div class="courseware-filters">
        {% if show_language_filter %}
        <div class="catalog-filter-dropdown dropdown" id="topicSortDropdown">
          <span class="filter-label">Topic</span>
          <div
            class="col-2 dropdown-toggle"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            aria-label="topic-options"
            data-display="static"
          >
            {{ selected_topic }}
          </div>

          <div
            class="dropdown-menu dropdown-menu-left"
            aria-labelledby="dropdownMenuButton"
          >
            {% for topic in topics %}
            {% if topic == selected_topic %}
            <div
              class="dropdown-item topic-filter-option selected"
              data-value="{{ topic }}"
            >
              {% else %}
              <div
                class="dropdown-item topic-filter-option"
                data-value="{{ topic }}"
              >
                {% endif %}
                {{ topic }}
              </div>
              {% endfor %}
            </div>
          </div>

          <div
            class="catalog-filter-dropdown dropdown"
            id="languageSortDropdown"
          >
            <span class="filter-label">Course Language</span>
            <div
              class="col-2 dropdown-toggle"
              id="dropdownMenuButton"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              aria-label="language-options"
              data-display="static"
            >
              {{ selected_language }}
            </div>

            <div
              class="dropdown-menu dropdown-menu-left"
              aria-labelledby="dropdownMenuButton"
            >
              {% for language in language_options %}
              {% if language == selected_language %}
              <div
                class="dropdown-item language-filter-option selected"
                data-value="{{ language }}"
              >
                {% else %}
                <div
                  class="dropdown-item language-filter-option"
                  data-value="{{ language }}"
                >
                  {% endif %}
                  {{ language }}
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
          {% else %}
          {% for topic in topics %}
          {% if selected_topic == topic %}
          <div class="topic selected">
            {% else %}
            <div class="topic">
              {% endif %}
              <a href="{% pageurl page %}?topic={{ topic | urlencode }}"
                >{{ topic }}</a
              >
            </div>
            {% endfor %}
          </div>
          {% endif %}
        </div>

        <div class="courseware">
          <div class="tab-block">
            <div class="container">
              <div class="catalog-nav-head">
                <div class="nav-tabs-container">
                  <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                      {% if active_tab == "all-tab" %}
                      <a
                        id="all-tab"
                        class="nav-link active"
                        data-toggle="tab"
                        href="#all"
                        role="tab"
                        aria-controls="all"
                        aria-selected="true"
                        >All</a
                      >
                      {% else %}
                      <a
                        id="all-tab"
                        class="nav-link"
                        data-toggle="tab"
                        href="#all"
                        role="tab"
                        aria-controls="all"
                        aria-selected="true"
                        >All</a
                      >
                      {% endif %}
                    </li>
                    <li
                      class="nav-item"
                      data-toggle="tooltip"
                      title="Multi-course offerings"
                      data-placement="bottom"
                    >
                      {% if active_tab == "programs-tab" %}
                      <a
                        id="programs-tab"
                        class="nav-link active"
                        data-toggle="tab"
                        href="#programs"
                        role="tab"
                        aria-controls="programs"
                        aria-selected="false"
                        >programs</a
                      >
                      {% else %}
                      <a
                        id="programs-tab"
                        class="nav-link"
                        data-toggle="tab"
                        href="#programs"
                        role="tab"
                        aria-controls="programs"
                        aria-selected="false"
                        >programs</a
                      >
                      {% endif %}
                    </li>
                    <li
                      class="nav-item"
                      data-toggle="tooltip"
                      title="Single course offerings"
                      data-placement="bottom"
                    >
                      {% if active_tab == "courses-tab" %}
                      <a
                        id="courses-tab"
                        class="nav-link active"
                        data-toggle="tab"
                        href="#courses"
                        role="tab"
                        aria-controls="courses"
                        aria-selected="false"
                        >Courses</a
                      >
                      {% else %}
                      <a
                        id="courses-tab"
                        class="nav-link"
                        data-toggle="tab"
                        href="#courses"
                        role="tab"
                        aria-controls="courses"
                        aria-selected="false"
                        >Courses</a
                      >
                      {% endif %}
                    </li>
                  </ul>
                </div>
                <div
                  class="catalog-sort-by-dropdown dropdown"
                  id="catalogSortDropdown"
                >
                  <span>Sort By:</span>
                  <div
                    class="col-2 dropdown-toggle-sorting"
                    id="dropdownMenuButton"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    aria-label="sorting-options"
                    data-display="static"
                  >
                    {{ active_sorting_title }}
                  </div>
                  <div
                    class="dropdown-menu dropdown-menu-left"
                    aria-labelledby="dropdownMenuButton"
                  >
                    {% for sorting in sort_by_options %}
                    {% if sorting.title == active_sorting_title %}
                    <div
                      class="dropdown-item catalog-sort-option selected"
                      data-value="{{ sorting.value }}"
                    >
                      {% else %}
                      <div
                        class="dropdown-item catalog-sort-option"
                        data-value="{{ sorting.value }}"
                      >
                        {% endif %}
                        {{ sorting.title }}
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
                <div class="tab-content">
                  {% if featured_product.program %}
                  {% include "partials/featured_card.html" with courseware_page=featured_product object_type="program" %}
                  {% elif featured_product.course %}
                  {% include "partials/featured_card.html" with courseware_page=featured_product object_type="course"%}
                  {% endif %}

                  {% if active_tab == "all-tab" %}
                  <div
                    class="tab-pane catalog-body fade in show active"
                    id="all"
                    role="tabpanel"
                    aria-labelledby="all-tab"
                  >
                    {% else %}
                    <div
                      class="tab-pane catalog-body fade"
                      id="all"
                      role="tabpanel"
                      aria-labelledby="all-tab"
                    >
                      {% endif %}
                      {% if not all_pages%}
                      {% include "partials/catalog_empty.html" %}
                      {% else %}
                      {% for page in all_pages %}
                      {% if page.program or page.is_external_program_page %}
                      {% include "partials/catalog_card.html" with courseware_page=page object_type="program" tab="all" %}
                      {% elif page.course or page.is_external_course_page %}
                      {% include "partials/catalog_card.html" with courseware_page=page object_type="course" tab="all"%}
                      {% endif %}
                      {% endfor %}
                      {% endif %}
                    </div>

                    {% if active_tab == "programs-tab" %}
                    <div
                      class="tab-pane catalog-body fade in show active"
                      id="programs"
                      role="tabpanel"
                      aria-labelledby="programs-tab"
                    >
                      {% else %}
                      <div
                        class="tab-pane catalog-body fade"
                        id="programs"
                        role="tabpanel"
                        aria-labelledby="programs-tab"
                      >
                        {% endif %}
                        {% if not program_pages %}
                        {% include "partials/catalog_empty.html" %}
                        {% else %}
                        <h1>PROGRAMS</h1>
                        {% for program_page in program_pages %}
                        {% include "partials/catalog_card.html" with courseware_page=program_page object_type="program" tab="program" %}
                        {% endfor %}
                        {% endif %}
                      </div>

                      {% if active_tab == "courses-tab" %}
                      <div
                        class="tab-pane catalog-body fade in show active"
                        id="courses"
                        role="tabpanel"
                        aria-labelledby="courses-tab"
                      >
                        {% else %}
                        <div
                          class="tab-pane catalog-body fade"
                          id="courses"
                          role="tabpanel"
                          aria-labelledby="courses-tab"
                        >
                          {% endif %}
                          {% if not course_pages %}
                          {% include "partials/catalog_empty.html" %}
                          {% else %}
                          <h1>COURSES</h1>
                          {% for course_page in course_pages %}
                          {% include "partials/catalog_card.html" with courseware_page=course_page object_type="course" tab="course" %}
                          {% endfor %}
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endblock %}

            {% block contact-us %}
            {% if hubspot_new_courses_form_guid and hubspot_portal_id %}
            {% include "subscription.html" %}
            {% endif %}
            {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
