{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags wagtailmetadata_tags render_bundle %}

{% block title %}{{ site_name }}{% endblock %}

{% block seohead %}
    {% meta_tags %}
{% endblock%}

{% block headercontent %}
<div id="header"></div>
{% render_bundle 'header' %}
{% endblock %}

{% block extrahead %}
  {{ block.super }}
  <link href="{% static 'css/vendor/jquery.fancybox.min.css'%}" rel="stylesheet" media="none" onload="if(media!='all')media='all'">
{% endblock %}

{% block content %}
  {% include "partials/hero.html" with action_title="Watch Now" action_url="#" %}
  {% if upcoming_courseware %}
    {% pageurl catalog_page as catalog_url %}
    {% include "partials/course-carousel.html" with page=upcoming_courseware button_title="View All" button_url=catalog_url %}
  {% endif %}
  {% if about_mit_xpro %} {% include "partials/text-video-section.html" with page=about_mit_xpro %} {% endif %}
  {% if learning_experience %} {% include "partials/learning-techniques.html" with page=learning_experience %} {% endif %}
  {% if testimonials %} {% include "partials/testimonial-carousel.html" with page=testimonials %} {% endif %}
  {% if news_and_events %} {% include "partials/news-and-events-carousel.html" with page=news_and_events %} {% endif %}
  {% if inquiry_section %} {% include "partials/for-teams.html" with page=inquiry_section %} {% endif %}
  {% if image_carousel_section %} {% include "partials/image-carousel.html" with page=image_carousel_section %} {% endif %}
{% endblock %}
{% block contact-us %}
    {% if hubspot_new_courses_form_guid and hubspot_portal_id %}
        {% include "subscription.html" %}
    {% endif %}
{% endblock %}

