{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags wagtailmetadata_tags render_bundle %}

{% block title %}{{ site_name }}{% endblock %}

{% block seohead %}
    {% meta_tags %}
{% endblock%}

{% block headercontent %}
<div id="header"></div>
{% render_bundle 'header' %}
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
  <script src="{% static 'js/vendor/jquery.fancybox.min.js' %}"></script>
  <script src="{% static 'js/hero.js' %}"></script>
  <script src="{% static 'js/testimonials_carousel.js' %}"></script>
  <script src="{% static 'js/courseware_carousel.js' %}"></script>
  <script src="{% static 'js/text_video_section.js' %}"></script>
  <script src="{% static 'js/image_carousel.js' %}"></script>
{% endblock %}

{% block extrahead %}
  {{ block.super }}
  {# This is included separately because FancyBox isn't used anywhere else so putting into the styles bundle isn't optimal. #}
  <link href="{% static 'css/vendor/jquery.fancybox.min.css'%}" rel="stylesheet">
{% endblock %}

{% block content %}
  {% include "partials/hero.html" with action_title="Watch Now" action_url="#" %}
  {% if page.upcoming_courseware %}
    {% pageurl catalog_page as catalog_url %}
    {% include "partials/course-carousel.html" with page=page.upcoming_courseware button_title="View All" button_url=catalog_url %}
  {% endif %}
  {% if page.about_mit_xpro %} {% include "partials/text-video-section.html" with page=page.about_mit_xpro %} {% endif %}
  {% if page.learning_experience %} {% include "partials/learning-techniques.html" with page=page.learning_experience %} {% endif %}
  {% if page.testimonials %} {% include "partials/testimonial-carousel.html" with page=page.testimonials %} {% endif %}
  {% if page.inquiry_section %} {% include "partials/for-teams.html" with page=page.inquiry_section %} {% endif %}
  {% if page.image_carousel_section %} {% include "partials/image-carousel.html" with page=page.image_carousel_section %} {% endif %}
{% endblock %}
{% block contact-us %}
    {% if hubspot_new_courses_form_guid and hubspot_portal_id %}
        {% include "subscription.html" %}
    {% endif %}
{% endblock %}

