{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags wagtailmetadata_tags render_bundle %}


{% block title %}{{ site_name }} | {{ page.title }}{% endblock %}

{% block seohead %}
    {% meta_tags page %}
    <meta property="og:image" content="{% image page.thumbnail_image fill-821x400 as thumbnail_image %}{{ page.get_site.root_url }}{{thumbnail_image.url}}" />
    <meta property="og:description" content="{{page.search_description}}">
    <meta property="product:brand" content="xPro">
    <meta property="product:availability" content="in stock">
    <meta property="product:condition" content="new">
    <meta property="product:price:amount" content="{{ page.product.current_price }}">
    <meta property="product:price:currency" content="USD">
    <meta property="product:retailer_item_id" content="{{ page.product.readable_id }}">
    <meta property="product:category" content="317">
{% endblock%}

{% block headercontent %}
  <div id="header"></div>
  {% render_bundle 'header' %}
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script type="text/javascript">
    $(document).ready(function() {
      // FAQs
      $("body").on("click", ".readmore", function(e) {
        const $readmoreText = $(this).find(".readmore-text");
        e.preventDefault();
        $("li.extra-faq").toggleClass("d-none");
        $readmoreText.text($readmoreText.text() === "Hide" ? "Read" : "Hide");
      });

      // More Dates
      $(".dates-tooltip").popover({
        template:
          '<div class="popover" role="tooltip">' +
          '<div class="arrow"></div>' +
          '<div class="popover-header py-2 px-0 mx-5"></div>' +
          '<div class="popover-body"></div>' +
          '</div>'
      });

      var navbar = $("#subNavBarContainer");

      // Navigation Bar
      $("body").scrollspy({
        target: "#subNavBar",
        offset: navbar.outerHeight() + 5.0
      });

      $(window).on("activate.bs.scrollspy", function(e, obj) {
        $("#subNavBarSelector").text(
          $(`.navbar-nav>li>a[href='${obj.relatedTarget}']`).text()
        );
      });

      $(".navbar-nav>li>a").on("click", function(event) {
        event.preventDefault();

        const target = $($(this).attr("href"));

        window.scrollTo(0, target.offset().top - navbar.outerHeight());

        $(".navbar-collapse.show").removeClass("show");
        $(".navbar-toggler").addClass("collapsed");
      });
      
      if (SETTINGS.zendesk_config.help_widget_enabled) {
        zE('webWidget', 'helpCenter:setSuggestions', { search: '{{page.product.title}}'});
      }
    });
  </script>
{% endblock %}

{% block content %}
<div>
  {% include "partials/hero.html" %}
  {% include "partials/metadata-tiles.html" %}
  {% include "partials/subnav.html" with product=page.product %}
  {% if outcomes %} {% include "partials/learning-outcomes.html" with page=outcomes %} {% endif %}
  {% if who_should_enroll %} {% include "partials/target-audience.html" with page=who_should_enroll %} {% endif %}
  {% if techniques %} {% include "partials/learning-techniques.html" with page=techniques %} {% endif %}
  {% if testimonials %} {% include "partials/testimonial-carousel.html" with page=testimonials %} {% endif %}
  {% if faculty %} {% include "partials/faculty-carousel.html" with page=faculty %} {% endif %}
  {% if course_lineup and course_pages %}
    {% with program_page=page.program_page %}
      {% pageurl program_page as program_url %}
      {% if page.program %}
        {% include "partials/course-carousel.html" with page=course_lineup courseware_pages=course_pages %}
      {% else %}
        {% include "partials/course-carousel.html" with page=course_lineup courseware_pages=course_pages button_title="View Full Program" button_url=program_url %}
      {% endif %}
    {% endwith %}
  {% endif %}
  {% if for_teams %} {% include "partials/for-teams.html" with page=for_teams %} {% endif %}
  {% if faqs %} {% include "partials/faqs.html" with faqs=faqs %} {% endif %}
  {% if propel_career %} {% include "partials/text-section.html" with page=propel_career %} {% endif %}
</div>
{% endblock %}
