{% extends "base.html" %}
{% load static render_bundle image_version_url wagtailcore_tags wagtailimages_tags wagtailmetadata_tags tz %}

{% block title %}{{ site_name }} | {{ page.title }}{% endblock %}

{% block headercontent %}
<div id="header"></div>
{% render_bundle 'header' %}
{% endblock %}

{% block content %}

  {% if page.banner_image %}
    <div class="webinar-resource-banner sub-banner" style="background-image:url('{% image_version_url page.banner_image "fill-1440x200" %}');background-size:cover">
  {% else %}
    <div class="webinar-resource-banner sub-banner">
  {% endif %}
    <div class="container">
      <h1 class="text-uppercase">{{ page.title }}</h1>
      {% if page.sub_heading %}
        <h2>{{ page.sub_heading }}</h2>
      {% endif %}
    </div>
  </div>

<div class="container resource-container">
  <div class="row">
    <div class="col-md-12">
      {% if page.date %}
        <p>{{ page.formatted_date }} | {{ page.time }}</p>
      {% endif %}
      {% if page.action_url and not page.is_upcoming_webinar %}
        <div class="col-md-12 resource-video">
          <iframe src="{{page.action_url}}" width="80%" height="500" frameborder="0" allow="autoplay" scrolling="no" allowfullscreen></iframe>
        </div>
      {% endif %}
      <div class="body_text">
        {{ page.body_text|richtext }}
      </div>
      {% if page.is_upcoming_webinar %}
        <a href="{{ detail_page_url }}" class="read-more">{{ page.detail_page_button_title }}</a>
      {% endif %}
      {% if page.course or page.program %}
        <a href="{{ courseware_url }}" class="read-more">
          Learn more about this courseware or enroll
        </a>
      {% endif %}
      <a href="{% pageurl page.get_parent %}" class="back-to-top">Back to webinars</a>
    </div>
  </div>
</div>
{% endblock %}
