{% extends "base.html" %}
{% load render_bundle wagtailcore_tags %}
{% load static wagtailimages_tags wagtailmetadata_tags render_bundle image_version_url wagtailcore_tags tz %}

{% block title %}{{ site_name }} | {{ page.title }}{% endblock %}

{% block headercontent %}
<div id="header"></div>
{% render_bundle 'header' %}
{% endblock %}

{% block content %}

  <div class="resource-banner" style="background:url('{% image_version_url page.banner_image "original" %}') repeat-x;">
    <div class="container">
      <h1 class="text-uppercase">{{ page.title }}</h1>
      {% if page.sub_heading %}
        <h2>{{ page.sub_heading }}</h2>
      {% endif %}
    </div>
  </div>

<div class="container resource-container">
  <div class="row">
    <div class="col-md-12">
      {% if page.date %}
      <p>{{ page.formatted_date }} | {{ page.time }}</p>
      {% endif %}
      <div class="col-md-12 resource-video">
        {% if page.action_url %}
        <iframe src="{{page.action_url}}" width="80%" height="500" frameborder="0" allow="autoplay" scrolling="no" allowfullscreen></iframe>
        {% endif %}
      </div>
      <div>
        {% if page.category|lower == 'upcoming' %}
        <a href="{{page.action_url}}" class="read-more">REGISTER</a>
        {% endif %}
        <a href="{% pageurl coursepage %}" class="read-more">
          Learn more about this course or enroll
        </a>
      </div>
      <a href="{% pageurl page.get_parent %}" class="back-to-top">Back to webinars</a>
    </div>
  </div>
</div>
{% endblock %}
