[run]
branch = True
source = .
data_file=/tmp/coverage
omit =
    mitxpro/wsgi.py
    manage.py
    ./.tox/*
    */migrations/*
    *_test.py
    *_tests.py

[report]
fail_under = 80.0
exclude_lines =
    pragma: no cover
show_missing = True
precision = 2

[html]
directory = htmlcov
