{
  "extends": ["eslint-config-mitodl", "eslint-config-mitodl/flow", "eslint-config-mitodl/mocha", "prettier"],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false,
    "babelOptions": {
      "presets": ["@babel/preset-env", "@babel/preset-react", "@babel/preset-flow"]
    }
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect",
      "flowVersion": "0.2.3"
    }
  },
  "rules": {
    "no-unused-vars": 0,
    // module importing pattern have huge impact over performance, especially when it comes to lodash
    // the below rule will restrict developers to do lodash global imports
    // (i.e: "import { map } from 'lodash'" will be insisted to get replaced with "import map from 'lodash/map'")
    // (refs: https://eslint.org/docs/2.0.0/rules/no-restricted-imports and https://www.blazemeter.com/blog/the-correct-way-to-import-lodash-libraries-a-benchmark)
    "no-restricted-imports": [
      "error",
      {
        "paths": [
          "lodash"
        ]
      }
    ]
  },
  "ignorePatterns": ["scripts/repl.js", "flow-typed/npm/moment_v2.x.x.js"]
}
