{
  "extends": "eslint-config-mitodl",
  rules: {
    "no-unused-vars": 0,
    // module importing pattern have huge impact over performance, especially when it comes to lodash
    // the below rule will restrict developers to do lodash global imports
    // (i.e: "import { map } from 'lodash'" will be insisted to get replaced with "import map from 'lodash/map'")
    // (refs: https://eslint.org/docs/2.0.0/rules/no-restricted-imports and https://www.blazemeter.com/blog/the-correct-way-to-import-lodash-libraries-a-benchmark)
    "no-restricted-imports": [
      "error",
      {
        "paths": [
          "lodash"
        ]
      }
    ]
  }
}
