---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
ci:
  skip:
    # Because these are local hooks it seems like they won't easily run in pre-commit CI
    - eslint
    - scss-lint
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: ".hbs$"
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types_or:
          [javascript, jsx, ts, tsx, json, scss, sass, css, yaml, markdown]
        args:
          - --no-config
          - --no-semi
        additional_dependencies:
          - prettier
          - flow
      - id: prettier
        alias: prettier-django
        name: prettier-django
        types: [html]
        additional_dependencies:
          - prettier
          - prettier-plugin-django-alpine
  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.8.0-1
    hooks:
      - id: shfmt
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: [--format, parsable, -d, relaxed]
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args:
          - --baseline
          - .secrets.baseline
          - --exclude-files
          - .yarn/
          - --exclude-files
          - ".*_test.py"
          - --exclude-files
          - "test_.*.py"
          - --exclude-files
          - poetry.lock
          - --exclude-files
          - yarn.lock
          - --exclude-files
          - compliance/test_data/cybersource/
          - --exclude-files
          - ".*_test.js"
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.3.7"
    hooks:
      - id: ruff-format
      - id: ruff
        args:
          - --extend-ignore=D1
          - --fix
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        description: "Lint JS/TS files and apply automatic fixes"
        entry: bash -c "npx eslint --fix $@"
        language: node
        types_or: [javascript, jsx, ts, tsx]
        args: []
        exclude: "(node_modules/|.yarn/)"
        require_serial: false
      - id: scss-lint
        name: scss-lint
        description: "Lint SCSS files"
        entry: bash -c "npx stylelint --allow-empty-input --fix $@"
        language: node
        types: [scss]
        args: []
        exclude: node_modules/
        require_serial: false
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ["--severity=warning"]
  - repo: https://github.com/rhysd/actionlint
    rev: v1.6.27
    hooks:
      - id: actionlint
        name: actionlint
        description: Runs actionlint to lint GitHub Actions workflow files
