[tool.poetry]
name = "MITx Pro"
version = "0.1.0"
description = "MITx Pro"
authors = ["MIT ODL"]
license = "BSD-3"
readme = "README.md"
packages = []

[tool.poetry.dependencies]
python = "3.12.6"

Pillow = "10.4.0"
PyNaCl = "1.5.0"
beautifulsoup4 = "4.8.2"
boto3 = "1.35.97"
celery = "5.4.0"
celery-redbeat = "2.2.0"
dj-database-url = "0.5.0"
django = "4.2.18"
django-anymail = { version = "8.6", extras = ["mailgun"] }
django-filter = "^23.4"
django-hijack = "3.7.1"
django-ipware = "3.0.7"
django-oauth-toolkit = "1.7.1"
django-redis = "5.0.0"
django-robots = "6.1"
django-silk = "^5.0.3"
django-storages = "1.14.4"
django-user-agents = "0.4.0"
django-webpack-loader = "1.8.1"
djangorestframework = "3.15.2"
edx-api-client = "1.10.0"
flaky = "3.8.1"
google-api-python-client = "1.12.11"
google-auth = "1.35.0"
hubspot-api-client = "^6.1.0"
ipython = "^8.10.0"
mitol-django-authentication = "2023.12.19"
mitol-django-common = "2023.12.19"
mitol-django-digital-credentials = "2023.12.19"
mitol-django-hubspot-api = { version = "2023.12.19", extras = [] }
mitol-django-mail = "2023.12.19"
mitol-django-oauth-toolkit-extensions = "2023.12.19.1"
mitol-django-olposthog = "^2024.5.14"
newrelic = "^8.4.0"
pdftotext = "^2.1.1"
psycopg2 = "2.9.10"
pycountry = "24.6.1"
pygsheets = "2.0.2"
redis = "4.6.0"
requests = "^2.31.0"
sentry-sdk = "^2.0.0"
social-auth-app-django = "^5.4.0"
ulid-py = "^1.1.0"
user-agents = "2.2.0"
user-util = "0.3.1"
uwsgi = "2.0.28"
wagtail = "5.2.7"
wagtail-metadata = "5.0.0"
xmltodict = "^0.14.0"
zeep = "4.3.1"

[tool.poetry.group.dev.dependencies]
bpython = "*"
django-debug-toolbar = "*"
factory-boy = "3.3.1"
faker = "30.10.0"
freezegun = "1.5.1"
hypothesis = "4.24.6"
ipdb = "*"
nplusone = ">=0.8.1"
pdbpp = "*"
pytest = "^8.0.0"
pytest-cov = ">=2.6.1"
pytest-django = "*"
pytest-env = "*"
pytest-lazy-fixtures = "*"
pytest-mock = "*"
pytest-xdist = "*"
responses = "*"
safety = "*"
semantic-version = "*"
wagtail-factories = "*"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
