beautifulsoup4==4.6.0
celery==4.2.0
boto==2.49.0
dj-database-url==0.4.2
django==2.1.7
django-anymail[mailgun]==3.*
django-hijack==2.1.10
django-hijack-admin==2.1.10
django-redis==4.7.0
django-server-status==0.5.0
django-webpack-loader==0.5.0
django-oauth-toolkit==1.2.0
djangorestframework==3.9.0
djoser
html5lib==0.999999999
django-storages==1.7.1
ipython
newrelic
Pillow
psycopg2==2.7.3.2
raven
redis==2.10.6
requests
social-auth-app-django==3.1.0
ulid-py
uwsgi
wagtail==2.4
