astroid==2.4.2
black==18.9b0
bpython
codecov
django-debug-toolbar
factory_boy==2.11.1
faker==5.0.1
freezegun==0.3.12
ipdb
isort==4.3.21
nplusone>=0.8.1
pdbpp
pip-tools
hypothesis==4.23.4
pylint==2.6.0
pylint-django==2.1.0
pytest==4.4.1
pytest-cov>=2.6.1
pytest-django
pytest-env
pytest-mock
pytest-pylint==0.14.1
pytest-lazy-fixture==0.5.1
responses
safety
semantic-version
wagtail-factories
