astroid==2.0.4
black==18.9b0
bpython
codecov
django-debug-toolbar
factory_boy==2.11.1
faker
freezegun
ipdb
nplusone>=0.8.1
pdbpp
pip-tools
hypothesis==4.23.4
pylint==2.1.1
pylint-django==2.0.2
pytest==4.4.1
pytest-cov>=2.6.1
pytest-django
pytest-env
pytest-mock
pytest-pylint==0.12.3
pytest-lazy-fixture==0.5.1
responses
safety
semantic-version
wagtail-factories
