{% load static hijack_tags raven render_bundle %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% spaceless %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" />
    {% include "partials/gtm_head.html" %}
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" />
    <link href="https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script type="text/javascript">
    var SETTINGS = {{ js_settings_json|safe }};
    </script>
    {% render_bundle 'style' %}
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">
    {% block extrahead %}
    {% endblock %}
    {% endspaceless %}
  </head>
  <body class="{% block bodyclass %}{% endblock %}">
    {% include "partials/gtm_body.html" %}
    {% hijack_notification %}
    {% block headercontent %}
    {% endblock %}
    {% block content %}
        {% block banner %}
        {% endblock %}
    {% endblock %}
    {% block contact-us %}
    {% endblock %}
    {% block footer %}
        {% include "footer.html" %}
    {% endblock %}
    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    {% endblock %}
  </body>
</html>
