{% load static %}

<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="content-holder">
                <div class="row">
                    <div class="col-sm-6 clearfix">
                        <img src={% static 'images/help.png' %}>
                        <div class="info">
                            <a href="https://xpro.zendesk.com" target="_blank">
                                <h2>Help & FAQ</h2>
                            </a>
                            <p>Answers to our most frequently asked questions are just one click away.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 clearfix">
                        <img src={% static 'images/contact.png' %}>
                        <div class="info">
                            <a href="https://xpro.zendesk.com/hc/en-us/requests/new" target="_blank">
                                <h2>Contact Us</h2>
                            </a>
                            <p>Get in touch with someone from our sales department to assist with your inquiry.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="footer-bottom">
            <div class="mit-info">
                <img src="{% static 'images/mit.png' %}" alt="MIT">
                <address>
                    Massachusetts Institute of Technology <br>77 Massachusetts Avenue <br>Cambridge, MA 02139<br>617-253-1000
                </address>
            </div>
            <div class="right-info">
                <ul class="footer-nav">
                    <li><a href="/about-us/" target="_blank">About Us</a></li>
                    <li><a href="/blog/" target="_blank">Blog</a></li>
                </ul>
                <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
                <![endif]-->
                <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                <script>
                    hbspt.forms.create({
                        portalId: '{{ hubspot_portal_id }}',
                        formId: '{{ hubspot_footer_form_guid }}'
                    });
                </script>
            </div>
        </div>
        <ul class="footer-sub-nav">
            <li><a href="/terms-of-service/" target="_blank">Terms of Service</a></li>
            <li><a href="/privacy-policy/" target="_blank">Privacy Policy</a></li>
            <li><a href="/honor-code/" target="_blank">Honor Code</a></li>
        </ul>
        <span class="copyright">© 2019 All rights reserved. <a href="#">{{ site_name }}</a>.</span>
    </div>
</footer>
