{% load static %}

<footer class="footer">
    <div class="container">
        <div class="footer-top">
            <div class="mit-info">
                <img src="{% static 'images/mit.png' %}" alt="MIT">
                <address>
                    Massachusetts Institute of Technology <br>77 Massachusetts Avenue <br>Cambridge, MA 02139<br>617-253-1000
                </address>
            </div>
            <div class="right-info">
                <ul class="footer-nav">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">FAQs</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
                <form action="#" class="subscription-form">
                    <input type="email" placeholder="Sign Up for Email Updates">
                    <button type="submit" class="icon-arrow-circle-right"></button>
                </form>
            </div>
        </div>
        <ul class="footer-sub-nav">
            <li><a href="#">Terms of Service</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Honor Code</a></li>
        </ul>
        <span class="copyright">© 2019 All rights reserved. <a href="#">MIT xPRO</a>.</span>
    </div>
</footer>
