{% extends "base.html" %}
{% load render_bundle %}
{% load make_fragment_id %}
{% load wagtailcore_tags %}

{% block headercontent %}
<div id="header"></div>
{% render_bundle 'header' %}
{% endblock %}

{% block content %}

<div class="container tos-container">
  <div class="row tos-banner">
    <h1 class="text-uppercase">Privacy Statement</h1>
    <h2>A supporting statement of your proposition</h2>
  </div>

  <div class="row">
    <div class="col-md-3">
      <ul class="tos-list">
        {% for block in page.term_of_service %}
          <li class="item">
            <a class="text-capitalize" href="#{{ block.value.heading|make_fragment_id }}">{{ block.value.heading }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="col-md-9">
      {% for block in page.term_of_service %}
      <h2 class="text-uppercase" id="{{ block.value.heading|make_fragment_id }}">{{ block.value.heading }}:</h2>
      <p>{{ block.value.detail }}</p>
      <a href="#" class="back-to-top">Back to top</a>
      {% endfor %}
    </div>

  </div>
</div>
{% endblock %}