{% load static wagtailcore_tags wagtailimages_tags %}
<div id="courseLineup" class="course-in-program">
  <div class="container">
    <div class="head">
      <h1>{{ page.heading }}</h1>
      {% if page.body %}{{ page.body|richtext }}{% endif %}
    </div>
    <div class="course-slider">
      {% if page.override_contents %}
        {% include "partials/courseware-carousel-base.html" with pages=page.content_pages %}
      {% else %}
        {% include "partials/courseware-carousel-base.html" with pages=courseware_pages %}
      {% endif  %}
    </div>
    {% if button_title and button_url %}
      <a href="{{ button_url }}" class="btn btn-primary text-uppercase px-5">{{ button_title }}</a>
    {% endif %}
  </div>
</div>
