{% load static wagtailcore_tags  wagtail_lazy_image %}
{% for courseware_page in pages %}
  <div class="slide" data-url="{{ courseware_page.url }}">
    <div class="slide-holder">
      {% if courseware_page.thumbnail_image %}
        {% wagtail_lazy_image courseware_page.thumbnail_image fill-480x275 alt=courseware_page.title class="lazy" %}
      {% else %}
        <img src="{% static 'images/mit-dome.png' %}" alt="{{ courseware_page.title }}" />
      {% endif %}
      <a class="title" href="{% pageurl courseware_page %}">{{ courseware_page.title }}</a>
      <p>{{ courseware_page.subhead }}</p>
      <a href="{% pageurl courseware_page %}" class="detail-link text-uppercase">view detail</a>
    </div>
  </div>
{% endfor %}
