{% load wagtailcore_tags wagtailimages_tags %}
<div id="faculty" class="faculty-block">
  <div class="container">
    <div class="head">
      <h1 class="text-uppercase">{{ page.heading }}</h1>
      {% if page.subhead %}
        <h3>{{ page.subhead }}</h3>
      {% endif %}
    </div>
    <div class="faculty-slider">
      {% for member in page.members %}
        <div class="slide">
          <div class="slide-holder">
            {% image member.value.image fill-300x300 as faculty_image %}
            <img src="{{ faculty_image.url }}" alt="{{ member.value.name }}">
            <h2>{{ member.value.name }}</h2>
            <div class="text-holder">
              {{ member.value.description|richtext }}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
