{% load static wagtailimages_tags image_version_url %}
<div id="forTeams" class="for-teams-block {% if page.dark_theme %} dark-theme {% endif %}">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 {% if page.switch_layout %}order-2{% endif %}">
        <h1>{{ page.title }}</h1>
        {{ page.content|safe }}
        {% if page.action_url and page.action_title %}
          <a href="{{ page.action_url }}" class="btn btn-primary text-uppercase px-5 py-2 action-button">{{ page.action_title }}</a>
        {% endif %}
      </div>
      <div class="col-lg-5">
        <div class="img-holder {% if page.switch_layout %}stick-left{% endif %}">
          {% if page.image %}
            <img src="{% image_version_url page.image "fill-750x505" %}" alt="{{ page.image.title }}" />
          {% else %}
            <img src="{% static 'images/default-for-teams-image.jpg' %}" alt="For Teams">
          {% endif%}
        </div>
      </div>
    </div>
  </div>
</div>