{% load static wagtailimages_tags %}
<div class="for-teams-block">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 {% if page.for_teams.switch_layout %}order-2{% endif %}">
        <h1>For Teams</h1>
        {{ page.for_teams.content|safe }}
        <a href="#" class="btn btn-primary text-uppercase px-5 py-2 action-button">{{ page.for_teams.action_title }}</a>
      </div>
      <div class="col-lg-5">
        <div class="img-holder {% if page.for_teams.switch_layout %}stick-left{% endif %}">
          {% if page.for_teams.image %}
            {% image page.for_teams.image fill-750x505 %}
          {% else %}
            <img src="{% static 'images/default-for-teams-image.jpg' %}" alt="For Teams">
          {% endif%}
        </div>
      </div>
    </div>
  </div>
</div>