<div class="header-block">
  <div class="container header-container">
    {% if page.background_video_url %}
      <video autoplay muted loop class="background-video" id="background-video" data-source="{{ page.background_video_url }}">
      </video>
    {% endif %}
    {% if page.course.program %}
      <h5 class="program-position">Course {{ page.course.position_in_program }} of {{ page.course.program.num_courses }} in {{ page.course.program.page.title }}</h5>
    {% endif %}
    <div class="row">
      <div class="col-lg-7">
        <div class="header-title">
          <h1>{{ page.title }}</h1>
          <h2>{{ page.subhead }}</h2>
        </div>
        <div class="mt-5 mb-5">
          {% if not enrolled and product_id %}
            <a class="enroll-button" href="{% url "checkout-page" %}?product={{ product_id }}">
              Enroll Now
            </a>
          {% elif enrolled and courseware_url %}
            <a class="enroll-button" href="{% url "user-dashboard" %}">
              View Dashboard
            </a>
          {% endif %}
          {% if action_title and action_url %}
            <a id="actionButton" class="enroll-button" href="{{ action_url }}">{{ action_title }}</a>
          {% endif %}
        </div>
      </div>
      <div class="col-lg-5">
        {% if page.video_url %}
          <video class="promo-video" controls>
            <source src="{{ page.video_url }}">
            Your browser does not support HTML5 video.
          </video>
          <div class="video-caption">{{ page.video_title|safe }}</div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
