{% load wagtailembeds_tags wagtailimages_tags %}

{% block extrahead %}
  <style>
  {% if page.background_image %}
    .header-block {
      {% image page.background_image fill-768x576 as background_image %}
      background-image: url('{{ background_image.url }}');
    }

    @media screen and (min-width: 768px) {
      .header-block {
        {% image page.background_image fill-1920x1080 as background_image %}
        background-image: url('{{ background_image.url }}');
      }
      {% if page.background_video_url %}
        .header-block {
          background-image: none;
        }
      {% endif %}
    }
  {% endif %}
  </style>
{% endblock %}

<div class="header-block">
  <div class="container header-container">
    {% if page.background_video_url %}
      <video autoplay muted loop class="background-video" id="background-video" data-source="{{ page.background_video_url }}">
      </video>
    {% endif %}
    <div class="row">
      <div class="col-lg-7">
        <div class="header-title">
          <h1>{{ page.title }}</h1>
          <h2>{{ page.subhead }}</h2>
        </div>
        <div class="mt-5 mb-5">
          {% if action_title and action_url %}
            <a id="actionButton" class="btn btn-primary text-uppercase px-5 py-2 action-button" href="{{ action_url }}">{{ action_title }}</a>
          {% else %}
            {% if not user.is_anonymous %}
              {% if not enrolled and product_id %}
                <a class="enroll-button enroll-now" href="{{ checkout_url }}">
                  Enroll Now
                </a>
              {% elif enrolled %}
                <a class="enroll-button enrolled" href="{% url "user-dashboard" %}">
                  Enrolled <i class="material-icons">check</i>
                </a>
              {% endif %}
            {% else %}
              <div class="enroll-dropdown">
                <a class="enroll-button dropdown-toggle" data-toggle="dropdown" data-flip="false" aria-haspopup="true" aria-expanded="true">
                  Enroll Now
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <div class="login-popup">
                    <div class="triangle"></div>
                    <h4>
                      <span>Sign In/Create Account</span>
                      <a class="close-btn">
                        ×
                      </a>
                    </h4>
                    <div class="popup-text">
                      Please Sign In to MITx PRO to enroll in a course
                    </div>
                    <div class="bottom-row">
                      <div class="popup-buttons">
                        <a class="sign-in-link link-button" href="{% url 'login' %}?next={{ checkout_url|urlencode:'' }}">
                          Sign In
                        </a>
                        <a class="create-account-link link-button" href="{% url 'signup' %}?next={{ checkout_url|urlencode:'' }}">
                          Create Account
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endif %}
        </div>
      </div>
      <div class="col-lg-5">
        {% if page.video_url %}
          {% embed page.video_url as youtube_video %}
            {% if youtube_video %}
              <div class="promo-video youtube-video">{{ youtube_video }}</div>
            {% else %}
              <video class="promo-video" id="promo-video" data-source="{{ page.video_url }}" controls></video>
            {% endif %}
          <div class="video-caption">{{ page.video_title|safe }}</div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
