{% if page.marketing_hubspot_form_id and not enrolled %}
<a data-toggle="modal" class="keep-me-updated  enroll-now" id="signup-modal-button-{{unique_identifier}}">
    Keep me updated
</a>

<div class="modal" id="signup-modal-{{unique_identifier}}" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content modal-content-signup">
            <div class="modal-body">
                <div class="container no-gutters px-0">
                    <div class="d-flex flex-row-reverse">
                        <a class="text-dark close"
                           data-dismiss="modal"><span class="material-icons" data-icon="cancel"
                                                      aria-hidden="true"></span></a>
                    </div>
                </div>
                <div class="content-container">
                    <div class="container px-4 signup-dialog">
                        <div class="py-2">
                            <h2>Keep me Updated</h2>
                        </div>
                        <div>
                            <p>Not ready yet? No worries, get emailed on course updates, course schedules and more!</p>
                        </div>
                    </div>
                    <div class="container" id="marketing-hubspot-form-{{unique_identifier}}">
                    </div>
                    <div><span class="close">Close</span></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="overlay" class="overlay"></div>

<div id="confirmationModal-{{unique_identifier}}" class="modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content modal-content-signup">
            <div class="modal-body">
                <div class="container no-gutters px-0">
                    <div class="d-flex flex-row-reverse">
                        <a class="text-dark close"
                           data-dismiss="modal"><span class="material-icons" data-icon="cancel"
                                                      aria-hidden="true"></span></a>
                    </div>
                </div>
                <div class="container px-2 signup-dialog">
                    <div class="mb-5">
                        <h2 class="modal-title text-uppercase">Got it! thanks, Steve</h2>
                    </div>
                    <div class="mb-5">
                        <p>Our Team will connect with you soon.</p>
                    </div>
                    <div><span class="close">Close</span></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--[if lte IE 8]>
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
<![endif]-->
<script defer charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        function renderForm() {
            if (typeof hbspt !== 'undefined') {
                hbspt.forms.create({
                    portalId: "{{ hubspot_portal_id | safe }}",
                    formId: "{{ page.marketing_hubspot_form_id  | safe }}",
                    target: "#marketing-hubspot-form-{{unique_identifier}}",
                    onFormSubmitted: function($form) {
                        $('#signup-modal-{{unique_identifier}}').fadeOut();
                        $('#confirmationModal-{{unique_identifier}}').fadeIn();
                        resetForm();
                    }
                });
            }
        }

        function closeModel() {
            $('#signup-modal-{{unique_identifier}}, #confirmationModal-{{unique_identifier}}').fadeOut();
            $('#overlay').fadeOut();
        }

        renderForm();

        $("#signup-modal-button-{{unique_identifier}}").on("click", function(event) {
            $('#signup-modal-{{unique_identifier}}').fadeIn();
            $('#overlay').fadeIn();

        });

        $('.close').click(function() {
            closeModel()
        });

        function resetForm() {
            $('#marketing-hubspot-form-{{unique_identifier}}').html(''); // Clear the form HTML
            renderForm(); // Recreate the form
        }

        // Close modal when clicking outside the modal
        $(document).on('click', '#overlay', function(event) {
            if ($(event.target).is('#overlay')) {
                closeModel();
            }
        });
    });
</script>
{% endif %}
