{% load wagtailimages_tags %}
<div id="learningTechniques" class="container learning-techniques-block section-spacing">
  <h1>{{ page.title }}</h1>
  <ul class="learning-techniques-list">
    {% for technique in page.technique_items %}
      <li>
        <div class="img-holder">
          {% image technique.value.image height-110 format-png %}
        </div>
        <h3>{{ technique.value.heading }}</h3>
        <h4>{{ technique.value.sub_heading }}</h4>
      </li>
    {% endfor %}
  </ul>
</div>