<nav id="subNavBarContainer" class="navbar navbar-expand-md navbar-light sticky-top sub-nav-bar">
  <a class="navbar-toggler collapsed active-block" data-toggle="collapse" data-target="#subNavBar">
    <span id="subNavBarSelector" class="collapsed-header">Who Should Enroll</span>
  </a>
  <div class="sub-nav-enroll-button-block">
    {% include "partials/enroll_button.html" %}
  </div>
  <div id="subNavBar" class="collapse navbar-collapse justify-content-center">
    <ul class="navbar-nav container justify-content-center">
      {% if outcomes %} <li class="nav-item px-2 d-flex align-items-center"><a class="nav-link text-center" href="#learningOutcomes">What You Will Learn</a></li> {% endif %}
      {% if who_should_enroll %} <li class="nav-item px-2 d-flex align-items-center"><a class="nav-link text-center" href="#targetAudience">Who Should Enroll</a></li> {% endif %}
      {% if techniques %} <li class="nav-item px-2 d-flex align-items-center"><a class="nav-link text-center" href="#learningTechniques">How You Will Learn</a></li> {% endif %}
      {% if testimonials %} <li class="nav-item px-2 d-flex align-items-center"><a class="nav-link text-center" href="#testimonials">What Learners Are Saying</a></li> {% endif %}
      {% if faculty %} <li class="nav-item px-2 d-flex align-items-center"><a class="nav-link text-center" href="#faculty">Your MIT Faculty</a></li> {% endif %}
      {% if course_lineup %} <li class="nav-item px-2 d-flex align-items-center"><a class="nav-link text-center" href="#courseLineup">Courses In This Program</a></li> {% endif %}
      {% if for_teams %} <li class="nav-item px-2 d-flex align-items-center"><a class="nav-link text-center" href="#forTeams">Enterprise</a></li> {% endif %}
      {% if faqs %} <li class="nav-item px-2 d-flex align-items-center"><a class="nav-link text-center" href="#faq">FAQs</a></li> {% endif %}
    </ul>
  </div>
</nav>
