{% load image_version_url %}
<div id="targetAudience" class="who-should-enroll-block">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 {% if page.switch_layout %}order-2{% endif %}">
        <h1>{{page.heading}}</h1>
        <ul class="item-list">
          {% for item in page.content %}
            <li>{{ item }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-lg-6">
        {% if page.image %}
          <div class="img-holder {% if page.switch_layout %}stick-left{% endif %}">
            <img src="{% image_version_url page.image "fill-870x500" %}" alt="{{ page.image.title }}" />
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>