{% extends "course_app_base.html" %}
{% load static %}

{% block title %}MIT xPro | Course Catalog{% endblock %}

{% block content %}
<div class="course-catalog">
  <header>
    <h1>MIT xPRO &mdash; Professional Development, The MIT Way</h1>
    <h3>Explore MIT's courses for game-changing professionals</h3>
  </header>
  <section class="catalog-body">
    {% for program in programs %}
      {% include "catalog_card.html" with courseware_object=program object_type="program" %}
    {% endfor %}
    {% for course in courses %}
      {% include "catalog_card.html" with courseware_object=course object_type="course" %}
    {% endfor %}
  </section>
</div>
{% endblock %}
