{% load static humanize wagtailimages_tags %}
<div class="catalog-card" role="region" aria-label="{{ courseware_object.title }}">
    <div class="top">
        <div class="cover-image">
            <div class="cover-image-frame">
                {% if courseware_object.thumbnail_image %}
                    {% image courseware_object.thumbnail_image fill-335x203 %}
                {% else %}
                    <img src="{% static default_image_path %}" alt="Preview image">
                {% endif %}
            </div>
        </div>
        <div class="top-level-details">
            <h3 class="title">
                {% if object_type == "course" %}
                    <a href="{% url "course-detail" pk=courseware_object.id %}">
                        {{ courseware_object.title }}
                    </a>
                {% else %}
                    {{ courseware_object.title }}
                {% endif %}
            </h3>
            <ul>
                {% if courseware_object.current_price %}
                    <li>
                        <strong>Cost:</strong>
                        ${{ courseware_object.current_price|floatformat:"0"|intcomma }}
                    </li>
                {% endif %}
                {% if object_type == "program" %}
                    <li>
                        <strong>Number of Courses:</strong>
                        {{ courseware_object.courses.count }}
                    </li>
                {% endif %}
                {% if courseware_object.duration %}
                    <li>
                        <strong>Duration:</strong>
                        {{ courseware_object.duration }}
                    </li>
                {% endif %}
                {% if courseware_object.next_run_date %}
                    <li>
                        <strong>Next Start Date:</strong>
                        {{ courseware_object.next_run_date|date:"F j, Y" }}
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="offering-type">
            <label>
                {% if object_type == "course" %}
                    Single
                {% else %}
                    Multi
                {% endif %}
                Course Online
            </label>
        </div>
    </div>
    <div class="bottom">
        <div class="collapsible-menu">
            <div class="wrap-collapsible">
            {% if tab == "all" %}
                <input id="collapsible_{{ object_type }}{{ courseware_object.pk }}" class="toggle" type="checkbox" />
                <label for="collapsible_{{ object_type }}{{ courseware_object.pk }}" class="lbl-toggle">
                    Details
                </label>
            {% else %}
                <input id="collapsible_filter_{{ object_type }}{{ courseware_object.pk }}" class="toggle" type="checkbox" />
                <label for="collapsible_filter_{{ object_type }}{{ courseware_object.pk }}" class="lbl-toggle">
                    Details
                </label>
            {%  endif %}
                <div class="collapsible-content">
                    <div class="content-inner">
                        <div class="details-body">
                            {% if courseware_object.description %}
                                <div class="description">{{ courseware_object.description|safe }}</div>
                            {% endif %}
                            {% if object_type == "program" %}
                                <ul class="program-course-links">
                                    {% for course in program.courses.all %}
                                        <li>
                                            <a href="{% url "course-detail" pk=course.id %}" target="_blank">
                                                {{ course.title }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
{#                              TODO Need to make it functional#}
                                <a href="#" class="link-button">
                                    View Program
                                </a>
                            {% endif %}
                            {% if object_type == "course" %}
                                <a href="{% url "course-detail" pk=courseware_object.id %}" target="_blank" class="link-button">
                                    View Course
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
