<div class="posted-block">
    <div class="container">
        <h1>WANT TO LEARN ABOUT NEW COURSES FROM MIT XPRO?</h1>
        <form class="posted-form">
            <div class="row">
                <div class="col-sm-6">
                    <input type="text" placeholder="First Name *">
                </div>
                <div class="col-sm-6">
                    <input type="text" placeholder="Last Name *">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <input type="text" placeholder="Company *">
                </div>
                <div class="col-sm-6">
                    <input type="text" placeholder="Job Title *">
                </div>
            </div>
            <input type="email" placeholder="Email Address *">
            <button type="submit" class="btn btn-danger">KEEP ME POSTED!</button>
        </form>
    </div>
</div>
