{% extends "course_app_base.html" %}
{% load static wagtailimages_tags %}

{% block title %}MIT xPro | {{ course.title }}{% endblock %}

{% block extrahead %}
{{ block.super }}
<style>
  .header-block {
    background-image: url('{{ course.background_image_mobile_url }}');
  }

  @media screen and (min-width: 1024px) { 
    .header-block {
      background-image: url('{{ course.background_image_url }}'); 
    }
  }
</style>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script src="{% static 'js/course_detail.js' %}"></script>
{% endblock %}

{% block content %}
<div>
    {% include "partials/hero.html" with obj=course %}
    {% include "partials/metadata-tiles.html" %}
    {% if course.outcomes %} {% include "partials/learning-outcomes.html" %} {% endif %}
    {% if course.who_should_enroll %} {% include "partials/target-audience.html" %} {% endif %}
    {% if course.techniques %} {% include "partials/learning-techniques.html" %} {% endif %}
    {% if course.program and course.program.course_lineup %}
      {% include "partials/course-carousel.html" with program=course.program %}
    {% endif %}
    {% if course.faqs %} {% include "partials/faqs.html" %} {% endif %}
    {% if course.for_teams %} {% include "partials/for-teams.html" %} {% endif %}
</div>
{% endblock %}
