{% extends "course_app_base.html" %}
{% load static %}
{% load static humanize wagtailimages_tags %}
{% block title %}MIT xPro | {{ course.title }}{% endblock %}

{% block extrahead %}
{{ block.super }}
<style>
  .header-block {
    background-image: url('{{ course.background_image_mobile_url }}');
  }

  @media screen and (min-width: 1024px) { 
    .header-block {
      background-image: url('{{ course.background_image_url }}'); 
    }
  }
</style>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="{% static 'js/course_detail.js' %}"></script>
{% endblock %}

{% block content %}
<div>
    <div class="header-block">
      <div class="container header-container">
        {% if course.program %}
          <h5 class="program-position">Course {{ course.position_in_program }} of {{ course.program.num_courses }} in {{ course.program.title }}</h5>
        {% endif %}
        <div class="row">
          <div class="col-lg-7">
            <div class="header-title">
              <h1>{{ course.display_title }}</h1>
              <h2>{{ course.subhead }}</h2>
            </div>
          </div>
          <div class="col-lg-5">
            {% if course.video_url %}
              <video controls>
                <source src="{{ course.video_url }}">
                Your browser does not support HTML5 video.
              </video>
              <div class="video-caption">{{ course.video_title|safe }}</div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="tiles-block">
        <div class="container">
            <ul class="tiles-list">
                {% if course.next_run_date %}
                    <li>
                        <span class="title">START DATE</span>
                        <span class="text">{{ course.next_run_date|date:"F j, Y" }}</span>
                        <span class="dates-link"><a href="#">More Dates</a></span>  {# TODO Need to do in separate story#}
                    </li>
                {% endif %}
                {% if course.time_commitment %}
                    <li>
                        <span class="title">TIME COMMITMENT</span>
                        <span class="text">{{ course.time_commitment }}</span>
                    </li>
                {% endif %}
                {% if course.duration %}
                    <li>
                        <span class="title">DURATION</span>
                        <span class="text">{{ course.duration }}</span>
                    </li>
                {% endif %}
                <li>
                    <span class="title">FORMAT</span>
                    <span class="text">Online</span>
                </li>
                {% if course.current_price %}
                    <li>
                        <span class="title">PRICE</span>
                        <span class="text">${{ course.current_price }}</span>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
    {% if course.outcomes %}
        <div class="learning-outcomes-block section-spacing">
             <div class="container">
                 <div class="learning-header">
                     <h1>{{ course.outcomes.heading | safe }}</h1>
                     <h2>{{ course.outcomes.sub_heading | safe }}</h2>
                 </div>
                 <ul class="learning-outcomes-list">
                     {% for outcome in course.outcomes.outcome_items %}
                         <li>{{ outcome }}</li>
                     {% endfor %}
                 </ul>
             </div>
        </div>
    {% endif %}
    {% if course.techniques %}
        <div class="container learning-techniques-block section-spacing">
            <h1>How You’ll Learn</h1>
            <ul class="learning-techniques-list">
                {% for technique in course.techniques.technique_items %}
                    <li>
                        <div class="img-holder">
                            {% image technique.value.image height-110 format-png %}
                        </div>
                        <h3>{{ technique.value.heading }}</h3>
                        <h4>{{ technique.value.sub_heading }}</h4>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if course.faqs %} {% include "_faqs.html" %} {% endif %}

</div>
{% endblock %}
