// sass-lint:disable mixins-before-declarations

.sub-banner {
  width: 100%;
  padding: 75px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('#{$static-path}/images/header-banner.jpg') no-repeat 50% 50%;
  min-height: 200px;
  background-size: cover;

  .container {
    text-align: center;
  }

  h1 {
    color: white;
    padding: 15px;
    font-size: 40px;
    line-height: 50px;
    font-weight: 500;
    margin: 0 0 15px;

    @include media-breakpoint-up(md) {
      padding: 15px 30px;
      font-size: 48px;
      line-height: 54px;
    }
  }
}
