// sass-lint:disable mixins-before-declarations

.tooltip {
  .tooltip-inner {
    box-shadow: 0 0.05rem 0.55rem 0.1rem rgb(0 0 0 / 25%);
    color: black;
    background-color: $gray-bg;
    font-size: 18px;
    font-weight: 500;
    padding: 0.25rem 0.75rem;
    max-width: 300px;
  }

  $combinations: ("left", 2px, 0) ("top", 0, 2px) ("right", -2px, 0)
    ("bottom", 0, -2px);

  @each $position, $h-offset, $v-offset in $combinations {
    &.bs-tooltip-#{$position} {
      .arrow {
        filter: drop-shadow($h-offset $v-offset 1px rgb(0 0 0 / 12.5%));
      }

      .arrow::before {
        border-#{$position}-color: $gray-bg;
      }
    }
  }
}

.tab-block {
  width: 100%;
  padding: 0 0 75px;
  min-height: 600px;
  position: relative;

  .container {
    max-width: 880px;
    padding-left: 0;
  }

  h1 {
    color: $gray;
    margin: 0 0 15px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-weight: 400;
    z-index: 2;
  }

  .nav-tabs {
    border: none;
    display: block;
    letter-spacing: -0.32em;
    position: relative;
    margin-top: 35px;

    @include media-breakpoint-down(sm) {
      margin-left: 15px;
    }

    li {
      letter-spacing: normal;
      display: inline-block;
      vertical-align: bottom;
      font-size: 24px;
      line-height: 30px;
      font-weight: 600;
      position: relative;
      text-transform: uppercase;
      float: none;
      padding: 0 15px 0 0;

      @include media-breakpoint-up(md) {
        font-size: 26px;
      }

      @media screen and (width >= 1550px) {
        padding: 0 120px 0 0;
      }

      @media screen and (width <= 1550px) {
        padding: 0 85px 0 0;
      }

      @media screen and (width <= 1200px) {
        padding: 0 50px 0 0;
      }

      @media screen and (width <= 500px) {
        padding: 0 55px 0 0;
      }

      @include media-breakpoint-down(md) {
        margin-left: 20px;
      }

      a {
        border: none !important;
        background: white;
        z-index: auto;
        color: $blue;
        margin: 0;
        padding: 0;

        &.active {
          color: $primary;
        }
      }
    }
  }

  .tab-content {
    padding: 30px 0 0;

    @include media-breakpoint-down(md) {
      padding-left: 20px;
    }
  }
}

.nav-tabs-container {
  display: inline-block;
}

.catalog-sort-by-dropdown {
  display: inline-flex;
  padding: 10px;
  border: 2px solid transparent;

  &:hover {
    border: 2px solid #b8c2cc;
    border-radius: 4px;
    cursor: pointer;
  }

  @include media-breakpoint-down(md) {
    margin-left: 20px;
    padding-left: 0;
  }

  @include media-breakpoint-down(sm) {
    margin-left: 35px;
    padding-left: 0;
  }

  .dropdown-toggle {
    color: #626a73;

    &::after {
      content: "chevron_right";
      font-family: "Material Icons";
      transform: rotate(90deg);
      line-height: 18px;
      display: inline-block;
      margin-left: unset;
      vertical-align: -3px;
      border-top: unset;
      border-right: unset;
      border-bottom: unset;
      border-left: unset;
    }
  }

  .dropdown-menu {
    background-color: $white;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 50%);
    border-color: $white-smoke;
    border-radius: 5px;
    right: 0;
    left: unset;
    width: fit-content;

    .dropdown-item {
      color: #626a73;
      font-size: 18px;
      font-weight: 400;

      &:hover {
        background-color: $white;
        color: $primary;
        text-decoration: underline;
      }
    }
  }
}
