{% extends "email_base.html" %}

{% block content %}
<tr class="receipt-new-wrapper" style="font: 14px/22px 'Arial', sans-serif; margin: 0 auto; padding: 0 20px">
    <table style="margin: 0 20px !important;">
    <td class="rec-head" style="color: rgba(0,0,0,0.85); font: 14px/20px 'Arial', sans-serif; max-width: 696px; ">
        <p style="font-weight: normal; margin: 0 0 20px;">Dear {{ purchaser.name }},</p>
        <p style="font-weight: normal; margin: 0 0 20px;">You have been enrolled {% if content_title %} in {{ content_title }}{% endif %}.
            The course should now appear on your MIT xPRO <a href="{{ base_url }}{% url 'user-dashboard' %}" style="color: #0070DA">dashboard</a>. You can also access your receipt by <a style="color: #0070DA" href="{{ base_url }}/receipt/{{order.id }}">clicking here</a>.
        </p>
        <p style="font-weight: normal; margin: 0 0 20px;">Below you will find a copy of you receipt:</p>
    </td>
    <tr>
        <td>
            <h1 style="color: #000000; font-size: 24px; font-weight: 700; line-height: 26px; margin: 0 0 24px;">MIT xPRO</h1>
            <h2 style="color: #000000; font-size: 22px; font-weight: 700; line-height: 24px; margin: 0 0 22px;">Receipt</h2>
            <h3 style="color: #000000; font-size: 16px; font-weight: 700; line-height: 18px; margin: 0 0 20px;">Order Information</h3>
            <p>
                {% if order.reference_number  %}<strong style="font-weight: 700;">Order Number:</strong> {{ order.reference_number }}<br> {% endif %}
                <strong style="font-weight: 700;">Order Date:</strong><span> {{ order.created_on|date:"F j, Y"}} </span><br>
                <strong style="font-weight: 700;">Order Total:</strong> ${{ order_total }}<br>
            </p>
            {% for line in lines %}
            <p>
                <strong style="font-weight: 700;">Order Item:</strong> {{ line.content_title }}<br>
                <strong style="font-weight: 700;">Product Number:</strong> {{ line.readable_id }}<br>
                <strong style="font-weight: 700;">Dates:</strong>   {{ line.start_date|date:"F j, Y" }} - {{ line.end_date|date:"F j, Y" }}
            </p>
            <p>
                <strong style="font-weight: 700;">Quantity:</strong>  {{ line.quantity }}<br>
                <strong style="font-weight: 700;">Unit Price:</strong> ${{ line.price }}<br>
                <strong style="font-weight: 700;">Discount:</strong> ${{ line.discount }}<br>
                <strong style="font-weight: 700;">Total Paid:</strong> ${{ line.total_paid }}
            </p>
            {% endfor %}

            <h3 style="color: #000000; font-size: 16px; font-weight: 700; line-height: 18px; margin: 0 0 20px;">Customer Information</h3>
            <p style="margin: 0;">
                <strong style="font-weight: 700;">Name:</strong> {{ purchaser.name }}<br>
                <strong style="font-weight: 700;">Company Name:</strong> {{ purchaser.company }}<br>
                {% if purchaser.street_address %}
                    <table width="100%">
                        <tr>
                            <td style="width: 60px; vertical-align: top">
                                <strong style="font-weight: 700;">Address:</strong>
                            </td>
                            <td>
                                {% for address in purchaser.street_address %}
                                    <div>{{ address }} </div>
                                {% endfor %}
                            <div>
                                {{ purchaser.city}}, {{ purchaser.state_code}} {{ purchaser.postal_code}} {{ purchaser.country }}
                            </div>
                            </td>
                        </tr>
                    </table>
                {% endif %}
                <strong style="font-weight: 700;">Email Address:</strong> {{ purchaser.email }}<br>
            </p>
            {% if receipt or coupon %}
                <h3 style="color: #000000; font-size: 16px; font-weight: 700; line-height: 18px; margin: 0 0 20px;">Payment Information</h3>
                <p>
                    {%  if receipt %}
                        <strong style="font-weight: 700;">Name:</strong> {{ receipt.name }}<br>
                        {% if receipt.payment_method == 'card' %}
                            <strong style="font-weight: 700;">Payment Method:</strong> {{ receipt.card_type }} | {{ receipt.card_number }}<br>
                        {% elif receipt.payment_method == 'paypal' %}
                            <strong style="font-weight: 700;">Email:</strong> {{ receipt.email }} (Paypal account email)<br>
                            <strong style="font-weight: 700;">Payment Method:</strong> Paypal<br>
                        {% endif %}
                    {% endif %}
                    {% if coupon %}
                        <strong style="font-weight: 700;">Discount Code:</strong> {{ coupon }}
                    {% endif %}
                </p>
            {% endif %}
        </td>
    </tr>
</table>
</tr>
{%  endblock %}
{% block footer-address %}
    <div style="text-align: center">
        MIT Open Learning, 600 Technology Square, NE49-2000, Cambridge, MA 02139
        <br>
        &copy; {% now "Y" %} {{ site_name }}, All Rights Reserved. <a href="{{ base_url }}/terms-of-service" style="color: #b0b0b0; text-decoration: underline;">Terms of Service</a> and <a href="{{ base_url }}/privacy-policy" style="color: #b0b0b0; text-decoration: underline;">Privacy Policy</a>
    </div>
{% endblock %}
