{% extends "course_app_base.html" %}
{% load static %}

{% block title %}{{ site_name }} | Boeing Course Enroll{% endblock %}

{% block content %}
    <div class="container voucher-container">
        <h1>Boeing employee enrollment page</h1>
        <div class="voucher-card">
            <h2>Confirm Course</h2>
            <hr/>
            <p>Please confirm this is the course you are trying to enroll in::</p>
            <form method="post" enctype="multipart/form-data" class="voucher-form ">
                {% csrf_token %}
                <select name="coupon_version" id="coupon_version">
                    {% for choice in eligible_choices %}
                        <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                    {% endfor %}
                </select>
                <hr/>
                <div class="row justify-content-end">
                    <button type="submit" class="btn btn-primary btn-light-blue">NEXT</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
