h1, h2, h3, h4, h5 {
  -webkit-font-smoothing: antialiased; // sass-lint:disable-line no-vendor-prefixes
}

.course-catalog {
  background-color: #f5f5f5;

  h1 {
    padding: 10px 0;
    margin: 0;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    color: rgb(100, 100, 100);
  }
}

.course-catalog .mdc-layout-grid {
  max-width: 73.125rem;

  .course-card {
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid #bebebe;
    border-bottom: 3px solid #126f9a;
    box-shadow: 0 1px 10px 0 rgba(0,0,0,0.125), inset 0 0 0 1px rgba(255,255,255,0.75);

    header .cover-image {
      overflow: hidden;

      img {
        max-width: 100%;
        width: 100%;
        height: auto;
      }
    }

    .course-info {
      padding: 15px;
      height: 125px;

      h5 {
        padding: 0;
        margin: 0 0 10px 0;
        font-size: 14px;
        font-weight: 400;
      }

      h3 {
        padding: 0 0 0 5px;
        margin: 0;
        font-size: 20px;
        font-weight: 400;
        color: rgb(163, 31, 52);
      }
    }
  }
}
