.collapsed.dropdown-toggle::after {
  border-top: 0.3em solid transparent;
  border-left: 0.3em solid;
  border-bottom: 0.3em solid transparent;
  border-right: 0;
  vertical-align: unset;
}

.dropdown-menu {
  background-color: $tile-background;
  box-shadow: 0 9px 8px 9px rgba(0,0,0,0.07);
  border-color: $white-smoke;
  right: 0px;
  left: unset;
  max-height: 390px;
  overflow: scroll;

  .dropdown-divider {
    border-top: 1px dashed $black;
    margin: 16px 25px;
  }

  .dropdown-item {
    display: flex;
    margin-top: 0;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    color: $black;
    line-height: 44px;
    padding: 0 10px;
    letter-spacing: 0;
    font-family: Rajdhani;

    &:active {
      background-color: $soft-light-gray;
    }

  }

  .bold {
    font-weight: 600;
  }
}

.catalog-menu.dropdown {
  padding-left: 15px;
  padding-right: 15px;

  .dropdown-toggle {
    max-width: 100%;
    padding: 0;

    &:hover {
      cursor: pointer;
    }
  }

  @include media-breakpoint-down(sm) {
    padding: 5px 0 0 0;
  }
}
