.checkout-page {
  @include media-breakpoint-up (lg) {
    padding-left: 40px;
    padding-right: 40px;
  }

  margin: 0 auto;
  max-width: 1000px;
  background-color: #f5f5f5;
  font-weight: 600;
  padding-top: 50px;
  padding-bottom: 50px;

  .header {
    hr {
      margin-bottom: 35px;
    }

    .description {
      font-size: 28px;
    }
  }

  .page-title {
    font-size: 28px;
    padding-bottom: 10px;
  }

  .purchase-text {
    margin: 15px 0;
  }

  .item-type {
    color: #45bebf;
    font-size: 28px;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .item-row {
    margin: 20px 0;

    .item-column {
      min-width: 85px;
      max-width: 85px;
      height: auto;

      img {
        width: 100%;
        height: auto;
      }

      @include media-breakpoint-up (lg) {
        min-width: 200px;
        max-width: 200px;
      }
    }

    .title-column {
      margin: 25px 20px;
      width: 100%;

      select {
        @include media-breakpoint-up(lg) {
          font-size: 18px;
        }

        font-size: 16px;
        width: 100%;
      }
    }
  }

  .enrollment-input {
    margin: 20px 0;

    .enrollment-row {
      margin-top: 50px;
    }

    .coupon-code-row {
      input {
        border: 1px solid #cccccc;
        border-radius: 0;
        height: 40px;
        width: 100%;
      }

      .error-border {
        border: 1px solid $primary;
      }

      .apply-button {
        @include media-breakpoint-up(lg) {
          margin-left: 30px;
          padding: 5px 50px;
        }

        background-color: $light-blue;
        margin-left: 15px;
        margin-right: 25px;
        padding: 5px 15px;
      }
    }
  }

  .order-summary-container {
    @include media-breakpoint-down(lg) {
      padding-left: 0;
      padding-right: 0;
    }

    .order-summary {
      background-color: white;
      padding: 25px;
      margin: 20px 0;

      .title {
        color: #8c8d8e;
        font-size: 24px;
        margin-bottom: 25px;
      }

      .price-row,.discount-row {
        font-size: 24px;
      }

      .discount-row {
        margin-top: 10px;
        color: $primary;
      }

      .total-row {
        font-size: 28px;
        margin-top: 25px;
      }
    }
  }

  .data-consent-row {
    display: flex;
    flex-direction: row;
    align-items: center;

    input[type="checkbox"] {
      margin-right: 10px;
    }

    a, a:hover {
      color: $light-blue;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  button {
    color: white;
    font-weight: 600;
    border: 0;
  }

  .checkout-button {
    background-color: $primary;
    font-size: 28px;
    padding: 15px 0;
    width: 100%;
  }

  input[type='checkbox']   {
    display: unset;
  }

  .submit-links {
    margin-top: 10px;

    a, a:hover {
      color: $light-blue;
    }
  }
}

.data-consent-modal {
  @include media-breakpoint-up (lg) {
    min-width: 800px;
  }

  .modal-content {
    padding: 30px;
  }

  .modal-header {
    border-bottom: 0;
    display: flex;
    align-items: center;
  }

  .modal-title {
    font-size: 28px;
    font-weight: 700;
    color: $light-blue;
  }

  .close {
    font-size: 60px;
    font-weight: 400;
  }
}

.b2b-purchase-form {
  margin: 0 auto;
  max-width: 1000px;

  label {
    display: flex;
    flex-direction: column;
    margin: 40px 0;
    color: $light-gray;
  }

  .checkout-button {
    background-color: $light-blue;
    color: white;
    font-size: 28px;
    padding: 15px 0;
    font-weight: 600;
    width: 100%;
    text-transform: uppercase;
    border: 0;
  }

  .b2b-order-summary {
    display: flex;
    flex-direction: column;
    background-color: $very-light-gray;
    font-weight: 600;
    padding: 20px;
    margin-bottom: 40px;
  }

  input {
    border-radius: 5px;
    border: 1px solid $soft-light-gray;
    padding: 5px;
  }
}

.b2b-purchase-form, .checkout-page {
  .error {
    color: $primary;
  }
}

.b2b-purchase-form, .b2b-receipt-page {
  margin: 0 auto;
  max-width: 1000px;
  font-weight: 600;

  .title {
    font-weight: 700;
    font-size: 32px;
    color: $navy-blue;
    padding: 10px 0;
  }

  .b2b-order-summary {
    background-color: $very-light-gray;
    padding: 20px 10px;

    .total-paid {
      font-weight: 600;
      font-size: 24px;
      margin-bottom: 30px;
    }

    .col-8 {
      font-weight: 700;
    }
  }

  .description, .explanation {
    display: block;
    font-size: 17px;
    font-weight: 600;
  }

  .description {
    color: $light-gray;
  }

  .explanation {
    color: $navy-blue;
  }

  .product-selector {
    color: black;

    button {
      font-size: 24px;
      padding: 5px 20px;
      border-radius: 8px;
      background-color: white;
      color: $soft-light-gray;
      border: 1px solid black;
      font-weight: 600;
      text-transform: uppercase;

      &.selected, &.select-product {
        background-color: $soft-light-gray;
        color: $denim-blue;
        border: 0;
      }

      &.select-product-type {
        margin-right: 15px;
        margin-bottom: 15px;
      }

      &.select-product {
        font-size: 24px;
        padding: 5px 25px;
      }
    }

    .dropdown-menu {
      padding: 0;
      transform: unset !important;
      margin-top: 25px;

      .triangle {
        position: absolute;
        width: 0;
        height: 0;
        top: -25px;
        margin-left: 20px;
        border-left: 35px solid transparent;
        border-right: 35px solid transparent;
        border-bottom: 25px solid white;
        filter: drop-shadow(0 15px 15px black);
        // move drop shadow at bottom below menu
        z-index: -1;
      }

      .product-selector-menu {
        .header {
          background-color: white;
          text-transform: uppercase;
          height: 50px;
          align-items: center;
        }

        .header, .menu-item {
          display: flex;
          flex-direction: row;
          padding: 15px;
        }

        .product-selector-menu-items {
          max-height: 350px;
          overflow: scroll;

          .menu-item {
            cursor: pointer;
            min-height: 115px;
            border-top: 1px solid black;
            background-color: white;
            overflow: hidden;

            &.selected {
              background-color: $soft-light-gray;
            }

            img {
              min-width: 140px;
              max-width: 140px;
              height: 100%;
            }

            .menu-item-description {
              padding-left: 15px;

              .product-title {
                font-weight: 700;
              }
            }
          }
        }
      }
    }
  }
}

.b2b-receipt-page {
  .enrollment-codes-link {
    display: block;
    text-align: center;
    background-color: $light-blue;
    color: white;
    font-size: 28px;
    padding: 15px 0;
    margin-top: 15px;
    text-transform: uppercase;
    width: 100%;
  }
}

.order-summary, .b2b-order-summary {
  font-weight: 600;

  .bar {
    @include media-breakpoint-up(lg) {
      background-size: 24px 1px;
      margin-top: 75px;
    }

    height: 1px;
    width: 100%;
    background-position: bottom;
    background-size: 10px 1px;
    background-repeat: repeat-x;
  }
}

.order-summary .bar {
  margin-top: 25px;
  background-image: linear-gradient(to right, black 50%, rgba(255,255,255,0) 0%);
}

.b2b-order-summary .bar {
  margin-top: 10px;
  margin-bottom: 10px;
  color: grey;
  background-image: linear-gradient(to right, $soft-light-gray 50%, rgba(255,255,255,0) 0%);
}
