body {
  line-height: 28px;
  font-size: 20px;
  font-weight: 500;
}

h1 {
  font-size: 40px;
  line-height: 44px;
  font-weight: 600;
}

h2 {
  font-size: 28px;
  line-height: 38px;
  font-weight: 500;
}

h3 {
  font-size: 26px;
  line-height: 26px;
  font-weight: 600;
}

h4 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}

a.link-button {
  display: inline-block;
  padding: 10px;
  text-align: center;
  text-decoration: none;

  &:hover, &:visited {
    text-decoration: none;
  }

  &.red {
    border-radius: 5px;
    background-color: rgb(163, 31, 52);
    color: #ffffff;
  }
}

.form-error {
  color: $primary;
}

.align-text-right {
  text-align: right;
}

.gray-text {
  color: $gray;
}

.btn-light-blue {
  background-color: $light-blue !important;
  border-color: $light-blue !important;
  font-size: 20px;
}

.text-ribbon {
  position: relative;
  width: 160px;
  height: 40px;

  svg {
    width: 160px;
    height: 40px;
    -webkit-filter: drop-shadow(-1px 2px 2px rgba(0, 0, 0, 0.4)); // sass-lint:disable-line no-vendor-prefixes
    filter: drop-shadow(-1px 2px 2px rgba(0, 0, 0, 0.4));
    fill: black;
  }

  .text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 40px;
    text-align: center;
    color: white;
  }
}

.card-shadow {
  -webkit-box-shadow: -4px 5px 8px 0px rgba(204,204,204,0.8); // sass-lint:disable-line no-vendor-prefixes
  -moz-box-shadow: -4px 5px 8px 0px rgba(204,204,204,0.8); // sass-lint:disable-line no-vendor-prefixes
  box-shadow: -4px 5px 8px 0px rgba(204,204,204,0.8);
}

.notifications {
  .alert.alert-info {
    background-color: #355b6b;
    color: white;

    .close {
      color: #fff;
      opacity: 1;
    }
  }
}
