a.link-button {
  display: inline-block;
  padding: 10px;
  text-align: center;
  text-decoration: none;

  &:hover, &:visited {
    text-decoration: none;
  }

  &.red {
    border-radius: 5px;
    background-color: rgb(163, 31, 52);
    color: #ffffff;
  }
}

.form-error {
  color: $primary;
}

.align-text-right {
  text-align: right;
}

.gray-text {
  color: $gray;
}

.btn-light-blue {
  background-color: $light-blue !important;
  border-color: $light-blue !important;
}
