// sass-lint:disable mixins-before-declarations
@import "common";

.user-dashboard {
  padding: 40px 10px;

  .header {
    padding-right: 0;

    @include media-breakpoint-down(sm) {
      padding: 15px;
    }
  }

  h1 {
    padding-bottom: 30px;
    font-weight: 600;
  }

  h2 {
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 2rem;

    @include media-breakpoint-down(sm) {
      font-size: 1.25rem;
    }
  }

  h3 {
    font-size: 1.25rem;
    font-weight: 600;
    color: $navy-blue;
    border-bottom: 1px solid $detail-grid-border-color;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }

  h5 {
    font-size: inherit;
    font-weight: inherit;
  }

  .link-button {
    font-weight: 400;
  }

  .empty-msg h2 {
    margin-bottom: 30px;
  }

  .alert {
    color: white;
    font-size: 24px;
    font-weight: 600;
    width: 100%;
    text-align: center;

    button.close {
      color: white;
      font-size: 56px;
      font-weight: 100;
      padding-top: 0;
      padding-bottom: 0;
      opacity: 1;
    }
  }

  .alert-info {
    background-color: $light-blue;
  }

  .alert-danger {
    background-color: $primary;
  }
}

.text-ribbon,
.user-dashboard,
.collapse-toggle {
  font-size: 1.25rem;
  font-weight: 600;
}

.user-dashboard,
.collapse-toggle {
  @include media-breakpoint-down(sm) {
    font-size: 1rem;
  }
}

.program-enrollment,
.non-program-course-enrollments > .course-enrollment {
  margin-bottom: 15px;
}

.past-enrollments {
  margin-top: 40px;
}

.program-image-column,
.course-image-column {
  img {
    display: block;
    width: 100%;
  }

  @include media-breakpoint-down(sm) {
    padding: 0;
  }
}

.program-detail-column,
.non-program-course-enrollments .course-detail-column {
  padding: 15px;
  border: 1px solid #b4b4b4;
}

.course-detail-column {
  .status {
    text-align: left;

    @include media-breakpoint-up(lg) {
      text-align: right;
    }
  }
}

.program-enrollment {
  .program-courses {
    hr {
      margin-left: 10px;
      margin-right: 10px;
      border-color: $detail-grid-border-color;
    }

    .program-course {
      width: 100%;
    }

    .course-enrollment {
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }

  .program-detail-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .collapse-toggle {
    padding: 0;
    margin: 0;
    border: none;
    background-color: white;
    color: $gray;
    text-decoration: none;

    &:hover, &:active, &:focus {
      color: $gray !important;
      background-color: inherit !important;
      outline: none !important;
      text-decoration: none;
      border: none;
      box-shadow: none;
    }
  }

  .expand-control {
    margin-left: auto;

    button {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
}

.program-enrollment.row,
.course-enrollment.row {
  position: relative;

  .text-ribbon {
    position: absolute;
    width: 130px;
    height: 40px;
    top: 25px;
    right: 0;
    z-index: 10;

    .text {
      padding-left: 7px;
    }

    svg {
      width: 130px;
    }

    &.program svg {
      fill: $navy-blue;
    }

    &.course svg {
      fill: $primary;
    }
  }
}
