.ecommerce-admin-body {
  margin: 0 50px;

  form {
    margin: 25px 50px;
  }

  .error {
    color: red;
  }

  .success {
    color: green;
  }
}

.float-container {
  float: right;
  margin-top: 30px;
}

.float-container button {
  margin-left: 16px;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  text-align: center;
  padding: 10px 25px;
}

button.btn.btn-gradient-red-to-blue {
  color: #fff;
  border: 1px solid #a31f34;
  background: #a31f34 !important;
  transition: 0.25s;
}

button.btn.btn-gradient-white-to-blue {
  color: #03152d;
  border: 1px solid #dfe5ec;
  background: #fff;
  transition: 0.25s;
}

button.btn.btn-gradient-red-to-blue:hover,
button.btn.btn-gradient-white-to-blue:hover {
  border-color: #03152d;
  background: #03152d !important;
  color: #fff !important;
}

.coupon-form {
  div {
    padding-bottom: 20px;
    padding-right: 10px;

    .no-pad {
      padding: 0;
    }
  }

  input[type="checkbox"] {
    display: unset;
  }

  .text-area-div {
    max-width: 50%;
  }

  .block {
    /* stylelint-disable-next-line selector-class-pattern */
    .DayPickerInput {
      display: block;
    }

    input {
      display: block;
    }

    textarea {
      width: 100%;
    }

    select {
      display: block;
      width: 187px;
    }
  }

  .flex {
    display: flex;
  }

  .disabled {
    opacity: 0.5;
  }

  .product-selection {
    height: 250px;

    div {
      padding-right: unset;
    }
  }

  .picky {
    max-width: 992px;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .picky__dropdown {
    z-index: unset;
  }

  .dangerous {
    background-color: #ef5350;
    color: #fff;
    padding: 15px;
  }

  .small-text {
    font-size: 14px;
    color: rgb(76 76 5);
  }
}
