.ecommerce-admin-body {
  margin: 0 50px;

  form {
    margin: 25px 50px;
  }

  .error {
    color: red;
  }

  .success {
    color: green;
  }
}

.bulk-enrollment-form {
  section {
    padding: 15px 0;
  }
}

.coupon-form {
  div {
    padding-bottom: 20px;
    padding-right: 10px;

    .no-pad {
      padding: 0;
    }
  }

  input[type='checkbox']   {
    display: unset;
  }

  .block {

    .DayPickerInput {
      display: block;
    }

    input {
      display: block;
    }

    select {
      display: block;
    }
  }

  .flex {
    display: flex;
  }

  .disabled {
    opacity: 0.5;
  }

  .product-selection {
    height: 250px;

    div {
      padding-right: unset;
    }
  }

  .picky {
    max-width: 992px;
  }

  .picky__dropdown {
    z-index: unset;
  }

  .dangerous {
    background-color: #ef5350;
    color: #ffffff;
    padding: 15px;
  }
}
