.ecommerce-admin-body {
  margin: 0 50px;

  form {
    margin: 25px 50px;
  }

  .error {
    color: red;
  }

  .success {
    color: green;
  }
}

.coupon-form {
  div {
    padding-bottom: 20px;
    padding-right: 10px;

    .no-pad {
      padding: 0;
    }
  }

  input[type="checkbox"] {
    display: unset;
  }

  .text-area-div {
    max-width: 50%;
  }

  .block {
    /* stylelint-disable-next-line selector-class-pattern */
    .DayPickerInput {
      display: block;
    }

    input {
      display: block;
    }

    select {
      display: block;
      width: 187px;
    }
  }

  .flex {
    display: flex;
  }

  .disabled {
    opacity: 0.5;
  }

  .product-selection {
    height: 250px;

    div {
      padding-right: unset;
    }
  }

  .picky {
    max-width: 992px;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .picky__dropdown {
    z-index: unset;
  }

  .dangerous {
    background-color: #ef5350;
    color: #fff;
    padding: 15px;
  }
}
