// sass-lint:disable mixins-before-declarations
@font-face {
  font-family: "icomoon";
  src: url("#{$static-path}/fonts/icomoon.eot?dd3z7r"),
  url("#{$static-path}/fonts/icomoon.eot?dd3z7r#iefix")
  format("embedded-opentype"),
  url("#{$static-path}/fonts/icomoon.ttf?dd3z7r") format("truetype"),
  url("#{$static-path}/fonts/icomoon.woff?dd3z7r") format("woff"),
  url("#{$static-path}/fonts/icomoon.svg?dd3z7r#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

}

.icon-close-outline:before {
  content: "\e906";
}

.icon-arrow-circle-down:before {
  content: "\e904";
}

.icon-arrow-circle-up:before {
  content: "\e905";
}

.icon-chevron-left:before {
  content: "\e900";
}

.icon-chevron-right:before {
  content: "\e901";
}

.icon-arrow-circle-right:before {
  content: "\e902";
}

.icon-arrow-circle-left:before {
  content: "\e903";
}
