@import "node_modules/@material/layout-grid/dist/mdc.layout-grid";
@import "node_modules/@material/top-app-bar/dist/mdc.top-app-bar";
@import "common";
@import "top-app-bar";
@import "catalog";

body {
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
}
