.notifications {
  .alert {
    margin-bottom: 0;

    &.alert-info {
      background-color: #126f9a;
      color: white;

      a.alert-link, .close {
        color: white;
      }

      a.alert-link {
        font-weight: inherit;
        text-decoration: underline;

        &:hover {
          font-weight: 700;
        }
      }

      .close {
        opacity: 1;
      }
    }
  }

  // Django-rendered implementation
  .close-notification {
    text-decoration: none;
    color: white;
    float: right;
    margin-right: 10px;

    &:after {
      content: "\e906";
      font-family: icomoon;
      margin-left: 10px;
   }
 }
}
