.site-wide-notifications {
 background: $primary;

 .alert {
   text-align: center;
   color: white;
 }

 .close-alert {
   text-decoration: none;
   color: white;
   float: right;
   margin-right: 10px;

   &:after {
     content: "\e906";
     font-family: icomoon;
     margin-left: 10px;
   }
 }

 .alert {
   padding: 0;
 }
}
