.mdc-top-app-bar {
  position: relative;
  background: #ffffff;
  color: #000000;
  font-size: 14px;

  .link-button {
    white-space: nowrap;
  }

  .logo-section {
    padding-right: 10px;

    img.site-logo {
      height: 48px;
    }
  }

  .link-section > * {
    margin-left: 15px;
  }

  .link-section {
    .user-name {
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
