$static-path: '/static';

$primary: #a31f34;
$gray: #363636;
$tile-background: #fff;
$tiles-background: rgba(53, 53, 53, 97);
$light-gray: #8a8b8c;
$blue: #3dbdbf;
$detail-grid-border-color: #b4b4b4;
$gray-bg: #ebebeb;
