$static-path: '/static';

$primary: #a31f34;
$gray: #363636;
$light-gray: #8a8b8c;
$very-light-gray: #f5f5f5;
$blue: #3dbdbf;
$light-blue: #15729b;
$navy-blue: #355b6a;
$tile-background: #fff;
$tiles-background: rgba(53, 53, 53, 97);
$gray-bg: #ebebeb;
$detail-grid-border-color: #b4b4b4;

$who-should-enroll--heading: #3dbdbf;
