$static-path: '/static';

$primary: #a31f34;
$gray: #363636;
$gray-85: #d9d9d9;

$light-gray: #8a8b8c;
$very-light-gray: #f5f5f5;
$soft-light-gray: #d8d8d8;
$white-smoke: #f1f1f1;
$blue: #355b6b;
$light-blue: #15729b;
$navy-blue: #355b6b;
$cornflower-blue: #579cf9;
$denim-blue: #16729b;
$tile-background: #fff;
$tiles-background: rgba(53, 53, 53, 97);
$tab-color: #c2c0bf;
$gray-bg: #ebebeb;
$darker-grey-bg: #2c2a29;
$catalog-text: #909090;
$detail-grid-border-color: #b4b4b4;
$featured-banner-background: #a32034;
$featured-banner-border: #5e0c19;

$footer-bg: #262622;
$footer-border: #686461;
