$static-path: '/static';

$primary: #a31f34;
$gray: #363636;
$gray-85: #d9d9d9;

$light-gray: #8a8b8c;
$very-light-gray: #f5f5f5;
$blue: #355B6B;
$light-blue: #15729b;
$navy-blue: #355b6b;
$tile-background: #fff;
$tiles-background: rgba(53, 53, 53, 97);
$tab-color: #c2c0bf;
$gray-bg: #ebebeb;
$darker-grey-bg: #2c2a29;
$catalog-text: #909090;
$detail-grid-border-color: #b4b4b4;

$footer-bg: #262622;
$footer-border: #686461;
