{% load wagtailcore_tags %}

<div id="b2bform" class="learning-strategy-block">
    <div class="container">
        <h1>{{ page.heading|richtext }}</h1>
        <h2>{{ page.subhead|richtext }}</h2>
        <div class="learning-strategy-form">
            <!--[if lte IE 8]>
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
            <![endif]-->
            <script defer charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
            <script type="text/javascript">
                document.addEventListener('DOMContentLoaded', function() {
                    if (typeof hbspt !== 'undefined') {
                        hbspt.forms.create({
                            portalId: "{{ hubspot_portal_id | safe }}",
                            formId: "{{ hubspot_enterprise_page_form_id | safe }}"
                        });
                    }
                });
            </script>
            <div class="consent">
                <p>By submitting your information, you are agreeing to receive periodic information about online programs from MIT.</p>
            </div>
        </div>
    </div>
</div>
