// sass-lint:disable mixins-before-declarations
@import "common";

.course-overview-block {
  background: white;
  position: relative;

  &::after {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    content: "";
    height: 10px;
    background: linear-gradient(
      to right,
      rgb(61 189 191 / 100%) 0%,
      rgb(241 186 70 / 100%) 100%
    );
  }

  .course-overview-heading {
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;
  }

  h1 {
    max-width: 700px;
    margin: 0 auto 20px;
    color: $primary;
  }
}
