// sass-lint:disable mixins-before-declarations
.sub-nav-bar {
  background: $gray-bg;
  display: block;
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.5);

  .navbar-nav > li > a {
    color: black !important;

    &.active {
      color: $blue !important;
    }
  }

  .navbar-toggler {
    border: unset;
    color: $blue !important;

    span.fa-chevron-down {
      display: none;
    }

    span.fa-chevron-up {
      display: block;
    }
  }

  .navbar-toggler.collapsed {
    span.fa-chevron-down {
      display: block;
    }

    span.fa-chevron-up {
      display: none;
    }
  }
}

a.active-block {
  background: $gray-bg;
  padding: 5px 0;
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  display: block;
  color: black;
  text-decoration: none;
  cursor: pointer;

  @include media-breakpoint-up(md) {
    display: none;
  }

  &:after {
    display: inline-block;
    vertical-align: middle;
    content: "";
    margin: 0 0 0 10px;
    width: 0;
    height: 0;
    transform: rotate(0deg);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid black;
  }

  &.collapsed {
    &:after {
      transform: rotate(180deg);
    }
  }
}
