{% extends "email_base.html" %}
{% load dateful_url %}

{% block content %}
<!-- 1 Column Text + Button : BEGIN -->
<tr>
  <td style="background-color: #ffffff">
    <table
      role="presentation"
      cellspacing="0"
      cellpadding="0"
      border="0"
      width="100%"
    >
      <tr>
        <td
          style="
            padding: 20px;
            font-family: sans-serif;
            font-size: 15px;
            line-height: 20px;
            color: #555555;
          "
        >
          <p style="margin: 0 0 10px">
            Dear
            {{ user.legal_address.first_name }},
          </p>
          <p style="margin: 0 0 10px">Welcome to MIT xPRO!</p>
          <p style="margin: 0 0 10px">
            You are now enrolled in <strong>{{ enrollment.run.title }}</strong>.
            We're thrilled to have you in the upcoming course session. This is a
            significant step toward advancing your expertise!
          </p>
          <p style="margin: 0 0 10px">
            <strong
              >Here is some important information about your course:</strong
            >
          </p>
          <ul style="margin: 0 0 10px; padding-left: 20px">
            <li>
              Course Name:
              {{ enrollment.run.title }}
            </li>
            {% if run_start_date %}
            <li>
              Start Date:
              {{ run_start_date }}
              {% if run_start_time %}
              at
              {{ run_start_time }}
              {% endif %}
              <a href="{{ enrollment.run.start_date|dateful_url }}">
                (convert to local time)
              </a>
            </li>
            {% endif %}
            {% if run_end_date %}
            <li>
              End Date:
              {{ run_end_date }}
              {% if run_end_time %}
              at
              {{ run_end_time }}
              {% endif %}
              <a href="{{ enrollment.run.end_date|dateful_url }}">
                (convert to local time)
              </a>
            </li>
            {% endif %}
            {% if run_duration %}
            <li>
              Duration:
              {{ run_duration }}
              week(s)
            </li>
            {% endif %}
          </ul>
          <p style="margin: 0 0 10px">
            <strong><u>Course Format, Schedule, and Deadlines:</u></strong>
            <br />
            All MIT xPRO courses are delivered online for maximum flexibility.
            Once course content is released, it will be accessible at your
            convenience. You will not be required to log in at any specific time
            to view it.
            <a
              href="https://xpro.zendesk.com/hc/en-us/articles/360056024592-How-are-courses-delivered-Are-lectures-live-at-specific-times-or-pre-recorded"
            >
              See this FAQ article for more details
            </a>
          </p>
          <p style="margin: 0 0 10px">
            Your course will become accessible only after its start date and
            time, and course content will start to be released.
          </p>
          <p style="margin: 0 0 10px">
            The course will have a specific schedule set by its instructors,
            which will determine when Course Content is released (weekly, for
            most courses). All Coursework will have a specific due date and
            time, which is strictly enforced. Late submissions will not be
            accepted for course credit.
          </p>
          <p style="margin: 0 0 10px">
            The course session will conclude on the scheduled End Date, at which
            point live aspects of the course, such as the discussion forums,
            will close. Your Courseware will contain more specific details about
            the course schedule, which you will be expected to read and
            understand.
          </p>
          <p style="margin: 0 0 10px">
            <strong><u>Accessing Your Course:</u></strong>
            <br />
            Once your course session starts, you will be able to open its
            Courseware and start learning! Access
            <a href="{{ base_url }}{% url 'user-dashboard' %}">
              your
              {{ site_name }}
              Dashboard </a
            >, locate your course, and click its name to get started!
            <a
              href="https://xpro.zendesk.com/hc/en-us/articles/15757684685467-How-can-I-access-and-view-my-enrolled-courses"
            >
              See this MIT xPRO FAQ article for details
            </a>
          </p>
          <p style="margin: 0 0 10px">
            <strong><u>Certificate of Completion:</u></strong>
            <br />
            When you complete the course with a passing score, you will earn a
            digital Professional Certificate from MIT xPRO, validating your
            accomplishment and expertise in
            <strong>{{ enrollment.run.title }}</strong>. Certificates are
            typically issued about 3-5 business days after the End Date of the
            course session.
            <a
              href="https://xpro.zendesk.com/hc/en-us/articles/35110117468443-What-is-an-xPRO-Certificate"
            >
              See this FAQ article for details
            </a>
          </p>
          <p style="margin: 0 0 10px">
            <strong><u>Where to Seek Support:</u></strong>
            <br />
            Once your course session starts, you should familiarize yourself
            with its Courseware—especially the first module, which typically
            contains important information introducing you to the course, its
            structure, schedule, and deadlines, and any special instructions or
            considerations unique to this course.
          </p>
          <p style="margin: 0 0 10px">
            Additionally, each MIT xPRO course offers in-course discussion
            forums, hich will allow you to both engage with your fellow learners
            and seek support from your dedicated Course Assistant (CA) Team. The
            CA Team actively monitors these forums to offer assistance and
            guidance to all learners.
          </p>
          <p style="margin: 0 0 10px">
            Any questions you may have about in-course matters, such as course
            content, coursework, and course logistics, should be posted to the
            Discussion Forums for the CA Team. They are best able to provide
            support for these inquiries.
          </p>
          <p style="margin: 0 0 10px">
            Some xPRO courses may also offer other channels to interact with the
            Course Team. Check within your Courseware for more information, once
            your session starts.
          </p>
          <p style="margin: 0 0 10px">
            For more general support questions, or questions containing
            sensitive or personal information, reach out to the MIT xPRO Support
            Team for assistance!
            <a href="https://xpro.zendesk.com/hc/en-us/requests/new"
              >Click here to submit a support ticket</a
            >
            and we'll be happy to help! You can also find a lot of useful
            information in
            <a href="https://xpro.zendesk.com/hc/en-us">MIT xPRO Help Center</a
            >.
          </p>
          <p style="margin: 0 0 10px">
            <strong><u>Purchase Receipt:</u></strong>
            <br />
            In addition to this Welcome Letter, a payment receipt email was sent
            to the email address used to complete your purchase. The receipt can
            also be accessed via your xPRO Dashboard—
            <a
              href="https://xpro.zendesk.com/hc/en-us/articles/35109598265243-How-do-I-view-my-receipt"
            >
              see this FAQ article for a guide.
            </a>
          </p>
          <p style="margin: 0 0 10px">
            We look forward to supporting you during your time with MIT xPRO. If
            you have any further questions or need assistance, please do not
            hesitate to reach out.
          </p>
          <p style="margin: 0 0 10px">
            Get ready to unlock your potential and excel!
          </p>
          <p style="margin: 0 0 10px">Best wishes,</p>
          <p style="margin: 0 0 10px">MIT xPRO Team</p>
        </td>
      </tr>
    </table>
  </td>
</tr>
<!-- 1 Column Text + Button : END -->
{% endblock %}
